
@section Head
{

    <title>درخواست غیر معتبر  | سئو سبز</title>

    <meta name="description" content="درخواست غیر معتبر  | سئو سبز" />
    <meta name="keywords" content="درخواست غیر معتبر  | سئو سبز" />
    <meta name="DC.keywords" content="درخواست غیر معتبر  | سئو سبز" />
    <meta name="DC.description" content=" درخواست غیر معتبر  | سئو سبز" />
    <meta name="DC.Title" content="درخواست غیر معتبر  | سئو سبز" />
    <meta name="DC.Subject" content="درخواست غیر معتبر  | سئو سبز" />

}




@section StyleScript
    {

}

@section MainContent
    {


    <body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0" link="#5DAE24" vlink="#5DAE24" alink="#5DAE24" onload="printpage()">
        <div class="row">
            <div class="w50 aligncenter container">
                <p>
                </p><h1>
                    تعرفه طراحی سایت
                </h1>
                <br>
                <p class="f-tahoma line-h f14">
                    نونگار هم اکنون با بکار گيری بيش از<span class="f-yekan f14"> 51</span> نيروی استخدامی در دو ساختمان مجزا با پشتوانه پيمانکاری بيش از <span class="f-yekan f14">1970</span> پروژه دولتی و خصوصی مصمم تر از قبل در حال فعاليت و خدمتگذاری است.
                    در کلیه گروه های کاری ذیل :
                </p>
                <ul class="f-tahoma list type-1 f14">
                    <li> تمامی استانداردهای گوگل و قوانین SEO رعایت خواهد شد . </li>
                    <li> سورس کامل پروژه همزمان با تسویه حساب به خریدار تحویل خواهد شد . </li>
                    <li> در انتهای کار،مالکیت دامنه و پنل بنام خریدار بروزرسانی خواهد شد . </li>
                    <li> تمدید کلیه خدمات قرارداد در سالهای آتی<span class="f-yekan f14">10%</span> رقم قرارداد خواهد بود . </li>
                    <li> مشاوره فنی و اجرائی با مدیر پروژه در هر مرحله میسر است . </li>
                    <li> پس از شروع پروژه گرافیست، برنامه نویس و اپراتور بطور مجزا معرفی خواهند شد . </li>
                    <li> محدودیتی در تعداد طرح و یا زمان کلاسها وجود ندارد . </li>
                    <li> جابجائی سایت بر روی سرورهای نونگار (در کشورهای مختلف) هزینه ای ندارد . </li>
                    <li> منبع محاسبات اجرای پروژه ها هر روز هفته بغیر از پنج شنبه ها و جمعه ها و روزهای تعطیل رسمی خواهد بود . </li>
                    <li> تهیه سرویس میزبانی و دامنه با تضمین نمایش <span class="f-yekan f14">99.9%</span> بر روی سرورهای نونگار از تعهدات نونگار بدون هزینه مضاعف است . </li>
                    <li> تضمین عملکردصحیح کلیه امکانات و سایت تحویلی روی سرورهای نونگار تا یکسال از تارخ عقد توافقنامه از تعهدات نونگار خواهد بود. </li>
                </ul>
                <br>
                <p class="f14 f-tahoma">
                    کل قیمت طراحی سایت اعلامی بصورت خالص دریافتی خواهد بود که <span class="f-yekan f14">40%</span> ابتدا و <span class="f-yekan f14">60% </span>انتهای کار مطالبه خواهد شد .
                    بغیر از تعرفه طراحی سایت اعلامی هر گروه، سایت شما برای راه اندازی کامل هیچ مخارج جانبی دیگری نخواهد داشت . موارد آمده در گروه های کاری زیر مربوط به سایتهای معمولی است و در تولید سایتهای خاص متن قرارداد تبادل شده سند اجرا خواهد بود .
                </p>
                <p></p>
                <t r="">
                </t><table class="table table-res" dir="rtl" id="table3" border="1" bordercolor="#c0c0c0" width="650">
                    <tbody>
                        <tr>
                            <td class="bg-yellow">
                                <strong>
                                    شرکت نونگار پردازش : 66518394
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                <strong>
                                    NP1<strong></strong>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                امکان ایجاد و مدیریت زیرپورتال ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                امکان پشتیبانی از زبانهای مختلف
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت صفحات ( نامحدود )
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                فعال سازی سایت دو زبانه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت منو ها و زیر منو ها ( نامحدود )
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پشتیبانی از ورودی و خروجی
                                XML
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت گروه ها و کاربران و دسترسی ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت اعضاء و ثبت نام
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تنظیمات پیشرفته امنیتی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت فایل ها و شاخه ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                جستجوگر داخلی پورتال
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت اسکریپت ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                پشتیبانی از ماژولهای مجتمع و توزیع شده
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                امکان بازیابی اطلاعات (Recycle
                                Bin)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نسخه چاپی صفحات( پی دی اف انگلیسی + قابلیت پرینت)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ajax &amp; Drag and Drop
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت پوسته ها و قاب ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت
                                CSS
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد سیستم واکنشگرا(responsive)
                                در وب سایت های فروشگاهی فقط در پلن دوم
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                آمار بازدیدکنندگان از پورتال
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                لیست عملیات کاربران
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                امکان معرفی در موتورهای جستجو ي اينترنتی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مديريت آگهي ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تنظيمات كنترل پنل
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td class="bg-yellow">
                                <strong>
                                    شرکت نونگار پردازش : 66518354<strong></strong>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                <strong><span dir="LTR" style="color: #444444">NP1</span><strong></strong></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت سطوح دسترسی مبتنی بر نمودار سازمانی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                راهنمای فارسی فعال در تمامی قسمتهای پورتال
                            </td>
                            <td>
                                &nbsp;
                            </td>

                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ارائه میز کار هوشمند به ازای هر کاربر
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                همسان سازی نسخ آنلاین و آفلاین (از طریق فایل اکسل)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                امکان کپی قالب زیر پورتال به همراه صفحات ، منوها ،
                                ماژولها و حقوق دسترسی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                کیت توسعه سایت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img src="~/images/tic1.png" alt="" width="19" height="19" border="0">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ورود به سایت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ویرایشگر متن 1 Tiny MC
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ویرایشگر متن 2
                                TCE Editor
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پیام گذرا( نظر سنجی هوشمند)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                حاوی (Wrapper)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت رسانه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت گالري ( تصاوير ، فيلم و ...&zwnj;)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت نمایش تصاویر
                            </td>
                            <td>
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت پیوندها (لينكستان)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت پیوندهای پیشرفته (لینکستان)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                منوساز پیشرفته
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                منوی درختی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت اخبار و آرشيو خبرها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نمایش اخبار ثابت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نمایش اخبار متحرک
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                RSS Reader
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پشتیبانی از امکان
                                RSS Writer
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                اطلاع رسانی فردی و جمعی از طریق پست الکترونیک
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-left: 1.0pt solid #0A3C0C; border-right: 1.0pt solid #0A3C0C; border-top: medium none; border-bottom: 1.0pt solid #0A3C0C; padding-left: 5.4pt; padding-right: 5.4pt; padding-top: 0cm; padding-bottom: 0cm; background: #F1F163" align="right" class="bg-yellow">
                                <strong>
                                    شرکت نونگار پردازش : 66518972<strong></strong>
                                </strong>
                            </td>
                            <td>
                                <font face="Tahoma" color="#494949">
                                    <strong>
                                        &nbsp;<strong></strong>
                                    </strong>
                                </font>
                            </td>
                            <td class="bg-yellow">
                                <font face="Tahoma" color="#494949">
                                    <strong>
                                        &nbsp;<strong></strong>
                                    </strong>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                اطلاع رسانی فردی و جمعی از طریق پیام کوتاه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                اطلاعیه ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تماس با ما
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                بریده جراید
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                دفتر تلفن
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کاربران آنلاین
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                شمارشگر بازدید از صفحه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نقشه سايت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                نقشه ایران و استان
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ارائه آخرین رویدادهای پورتال پس از آخرین ورود کاربر
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                گزارش عملیات کاربران پورتال (پیشرفته)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                سیستم خبرگزاری
                            </td>
                            <td>

                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت فرمهای بازخوردی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت فرمهای ممیزی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مديريت پرسش و پاسخ
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                آزمون / مسابقه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                درخواست و ارجاعات به همراه کد رهگیری
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد سایت مپ با نمایش عملکردها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تکریم ارباب رجوع با کد پیگیری
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ايجاد و مدیریت فرمها (.Form
                                Gen)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;<img src="~/images/tic1.png" alt="" width="19" height="19" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت فرآیندها(Work
                                Flow Engine)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ساخت و مدیریت جداول با فیلدهای دلخواه کاربر
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ایجاد و مدیریت انواع گزارشات (.Report
                                Gen)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                پیام گذرای پیشرفته
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت بانک اطلاعاتی(دسترسی به مدیریت بانک اطلاعاتی)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img src="~/images/tic1.png" alt="" width="19" height="19" border="0">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                پشتیبان گیر بانکهای اطلاعاتی(بصورت دستی)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;<img src="~/images/tic1.png" alt="" width="19" height="19" border="0">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-yellow">
                                <strong>
                                    شرکت نونگار پردازش : 666518394<strong></strong>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مناقصات و مزایده ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                مصوبات و بخشنامه ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                قوانین و مقررات
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                سمینارها و همایشها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                فرهنگ لغات سازمانی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تقویم آموزشی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                پیمانکاران
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                اطلاعات پرسنلی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                نمودار سازمانی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td><img border="0" src="~/images/tic1.png" width="19" height="19"></td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت پروژه (Project
                                Management)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت مقالات
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                کتابخانه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کتابخانه پیشرفته به همراه امکان عضویت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                آموزش مجازی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                آزمون مجازی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                فروشگاه الکترونیک با امکان سفارش آنلاین
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                فروشگاه الکترونیک با امکان پرداخت آنلاین
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان ساخت مجموعه محصولات و زیرمجموعه نامحدود
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان مصرفی محصولات به تعداد نامحدود
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان ویرایش اطلاعات مجموعه ها ومحصولات
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                گالری عکس محصولات بصورت نامحدود
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان تعریف روشهای مختلف حمل و نقل
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان جستجو در بین محصولات
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان تعریف کد تخفیف برای هر محصولات
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                تعریف وزن برای هر محصول بابت محاسبه هزینه متفاوت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                کنترل موجودی انبار
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                نمایش محصولات پرفروش
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                اتصال به درگاه بانک جهت پرداخت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان تعریف روشهای متنوع پرداخت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان مقایسه محصولات با یکدیگر
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان تعریف فیلترهای شخصی سازی شده
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                امکان جستجوی پیشرفته براساس فاکتورهای مختلف
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                صدور پیش فاکتور و فاکتور شخصی سازی شده
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ساعت دیواری
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                اوقات شرعی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                گزارشات آب و هوا
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ارزهای رایج
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                سیستم مدیریت تقويم ، مناسبتها و پیام روز
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                گاهشمار
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت دانلود&nbsp; و آپلود
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مدیریت پیشرفته فایلها و پوشه ها
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-yellow">
                                <strong>
                                    شرکت نونگار پردازش : 66517853<strong></strong>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    &nbsp;<strong></strong>
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                <strong><span dir="LTR" style="color: #444444">np1</span><strong></strong></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ارسال و دریافت پیامک
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                مديريت وبلاگ
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                انجمن و تالار گفتمان (Forum)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                چت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ویدئو کنفرانس
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                معرفی گرافیست از بابت طراحی و تولید ساختار گرافیک اختصاصی
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                آموزش خصوصی کاربری سایت
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                آموزش کاربری
                            </td>
                            <td>
                                <span lang="FA" style="font-size: 10.0pt; font-family: B Nazanin; color: black">
                                    &nbsp;
                                </span>
                            </td>
                            <td>
                                در نونگار
                            </td>
                        </tr>
                        <tr>
                            <td>
                                بروزرسانی رایگان ( شامل هسته و ابزارها )
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                خدمات پشتیبانی رایگان سالانه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                خدمات پشتیبانی تلفنی سالانه
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ورود اولیه رایگان اطلاعات (بر حسب صفحه)
                                (بغیر از محصولات و پروژه ها)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                تعداد پست الکترونیک رایگان
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                20
                            </td>
                        </tr>
                        <tr>
                            <td>
                                تعداد
                                Sub domain
                                رایگان
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span lang="FA" dir="RTL" style="font-family: B Nazanin; color: black">
                                    ثبت نام دامنه داخلی رایگان (ا عدد)
                                </span>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ثبت نام دامنه خارجی رایگان (ا عدد)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <img border="0" src="~/images/tic1.png" width="19" height="19">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                میزان فضای هاست رایگان 1 ساله (مگابایت)
                            </td>
                            <td>
                                <span dir="LTR" style="color: black">&nbsp;</span>
                            </td>
                            <td>
                                500
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    مدت زمان اجرا&nbsp; ( روز کاری )<strong></strong>
                                </strong>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                15
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-yellow">
                                <strong>
                                    حق الزحمه کل پروژه (تومان)<strong></strong>
                                </strong>
                            </td>
                            <td class="bg-yellow">
                                &nbsp;
                            </td>
                            <td class="bg-yellow">
                                000 000 2
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </body>

}





@section ScriptJs{


    <script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-40338148-1', 'npco.net');
    ga('send', 'pageview');

    </script>
    <script id="wappalyzer" src="chrome-extension://gppongmhjkpfnbhagpmjfkannfbllamg/js/inject.js"></script>

}
