@model GOWEB.Models.tblPage
@using GOWEB.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddAds</title>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/editor.js"></script>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" />
 
    <link href="~/css/editor.css" rel="stylesheet" />
   
</head>
<body>
  
    <div class="container-fluid">
        <div class="row">
            <h2 class="demo-text">ثبت صفحه جدید</h2>
            <div class="container ">
                <span>Menu : :</span>
                <div class="row">
                    @*<div class="col-md-2 nopadding">

                        Has A Child:
                    </div>
                    <div class="col-md-4 no-padding">
                        <input id="isChild" type="checkbox" title="Has A Child" />
                    </div>*@
                    <div class="col-md-2 nopadding">

                        Menu Name:
                    </div>
                    <div class="col-md-4 nopadding">
                        <select id="MenuID"></select>
                    </div>

                </div>
                



                <hr />
                <span>Meta :</span>
                <div class="row ">

                </div>
                <div class="row ">

                </div>
                <div class="row ">

                </div>
                <div class="row " >
                 
                    <div class="col-md-3 nopadding">
                        meta title <input type="text" id="MetaTitle" />
                    </div>
                    <div class="col-md-3 nopadding">
                       meta keyword  <input type="text" id="MetaKeyword"/>
                    </div>
                    <div class="col-md-3 nopadding">
                        meta subject  <input type="text" id="MetaSubject"/>
                    </div>
                    <div class="col-md-3 nopadding">
                        meta Author  <input type="text" id="Author"/>
                    </div>
                </div>
                
                <div class="row">
                 
                    <div class="col-lg-12 nopadding">
                        meta description <input type="text" class="width-Full" id="MetaDescription"/>
                    </div>
                </div>

                <hr />
                <span>Page Information :</span>
                <div class="row">

                    <div class="col-lg-12 nopadding">
                        Page Title <input type="text" id="Title"/>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-lg-12 nopadding">
                    Page Description    <textarea id="Description"></textarea>
                    </div>
                </div>


                <hr />
                <div class="row">
                    <div class="col-lg-6 nopadding">
                      Password Code  : <input type="text" id="PassCode"/>
                    </div>

                    <div class="col-lg-6 nopadding">
                        <input type="button" value="ADD" id="btnAdd" />
                    </div>
                </div>



                <hr />

            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var MenuIDs = 0;
        var passCode = $('#PassCode').val();
        $.getJSON("/Learning/LoadMenu", function (data) {
            console.log(data.Data)

            $.each(data.Data, function (index, value) {
                // APPEND OR INSERT DATA TO SELECT ELEMENT.


                $('#MenuID').append('<option value="' + value.MenuID + '">' + value.MenuName + '</option>');
            });
        });

        $("#MenuID").change(function () {
            MenuIDs = $(this).val();
        })
        //$("#isChild").change(function () {
            
        //    isChild = $(this).is(":checked");
        //})
        
        $("#Description").Editor();


        $("#btnAdd").click(function () {


            console.log($('#Description').attr('Source'))

            var dataObject = JSON.stringify({
                'MetaTitle': $('#MetaTitle').val(),
                'MetaKeyword': $('#MetaKeyword').val(),
                'MetaDescription': $('#MetaDescription').val(),

                'MetaSubject': $('#MetaSubject').val(),
                'Author': $('#Author').val(),
                'Title': $('#Title').val(),
                'Description': $('.Editor-editor').html(),
                'MenuID': MenuIDs,
                'PassCode': passCode
               

            });

            console.log($('.Editor-editor').html())

            $.ajax({
                url: '/Learning/AddPage',
                type: 'POST',
                contentType: 'application/json',
                done: submissionSucceeded,
                fail: submissionFailed,
                data: dataObject
            });



        });
        function submissionSucceeded() {
            console.log("Ok")
        }
        function submissionFailed() {
            console.log("Failed")
        }

    });

   

  

</script>