
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>



    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>


    <div class="container-fluid">
        <div class="row">

          
            <h2 class="demo-text">Add Menu</h2>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Add Menu</h3>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-2 ">

                        Menu name:
                    </div>
                    <div class="col-md-3 ">
                        <input type="text" id="MenuNameAdd" />
                    </div>
                    <div class="col-md-2 ">

                        Menu url:
                    </div>
                    <div class="col-md-3 ">
                        <input type="text" id="MenuUrlAdd"/>
                    </div>
                    <div class="col-md-1 ">

                        Has Child:
                    </div>
                    <div class="col-md-1 ">
                        <input id="isChildAdd" type="checkbox" title="Has A Child" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 ">

                        Parent Menu Name:
                    </div>
                    <div class="col-md-3 ">
                        <select class="MenuIDAdd"></select>
                    </div>
                    <div class="col-md-2">
                        Code:
                    </div>
                    <div class="col-md-3">
                        <input type="password" id="PassCode" />
                    </div>
                    <div class="col-md-1 ">

                        ADD:
                    </div>
                    <div class="col-md-1">
                        <input type="button" value="ADD" id="btnAdd" />
                    </div>
                </div>


                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h3>Edit Menu</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">

                        Menu Name:
                    </div>
                    <div class="col-md-3 ">
                        <select class="MenuIDEdit"></select>
                    </div>
                    <div class="col-md-2 ">

                        Edit Menu Name:
                    </div>
                    <div class="col-md-3 ">
                        <input type="text" id="MenuNameEdit"/>
                    </div>
                    <div class="col-md-1 ">

                       Change Parrent:
                    </div>
                    <div class="col-md-1 ">
                        <input id="isChildEdit" type="checkbox" title="Has A Child" />
                    </div>

                </div>
                <div class="row ">
                    <div class="col-md-2 ">

                        Edit Menu URL:
                    </div>
                    <div class="col-md-3 ">
                        <input type="text" id="MenuUrlEdit" />
                    </div>
                    <div class="col-md-2">

                        Parent Menu Name:
                    </div>
                    <div class="col-md-3 ">
                        <select class="MenuIDEditChange"></select>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col-md-2">
                        Code:
                    </div>
                    <div class="col-md-3">
                        <input type="password" id="PassCodeEdit" />
                    </div>
                    <div class="col-md-1 ">

                        Edit:
                    </div>
                    <div class="col-md-1">
                        <input type="button" value="Edit" id="btnEdit" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var MenuIDAdd = 0;
        var MenuIDEdit = 0;
        var isChildAdd = false;
        var isChildEdit = false;
        var MenuIDEditChange = 0;

        $.getJSON("/Learning/LoadMenu", function (data) {
            
            $.each(data.Data, function (index, value) {
                // APPEND OR INSERT DATA TO SELECT ELEMENT.
                $('.MenuIDEdit').append('<option value="' + value.MenuID + '">' + value.MenuName + '</option>');

             
                    $('.MenuIDAdd').append('<option value="' + value.MenuID + '">' + value.MenuName + '</option>');
                    $('.MenuIDEditChange').append('<option value="' + value.MenuID + '">' + value.MenuName + '</option>');


                    
               




            });
        });


        $(".MenuIDEditChange").change(function () {
            MenuIDEditChange = $(this).val();
        })

        $(".MenuIDEdit").change(function () {
            MenuIDEdit = $(this).val();
        })
        $(".MenuIDAdd").change(function () {
            MenuIDAdd = $(this).val();
        })


        $("#isChildAdd").change(function () {

              isChildAdd = $(this).is(":checked");

        })
        $("#isChildEdit").change(function () {

            isChildEdit = $(this).is(":checked");

        })

        



        $("#btnAdd").click(function () {


            if (isChildAdd) {
                var dataObject = JSON.stringify({
                    'MenuID': 0,
                    'MenuName': $('#MenuNameAdd').val(),
                    'ParrentID': MenuIDAdd,
                    'MenuUrl': $('#MenuUrlAdd').val(),
                    'HasChild': isChildAdd,
                    'PassCode': $('#PassCode').val()

                });
            } else {
                var dataObject = JSON.stringify({
                    'MenuID': 0,
                    'MenuName': $('#MenuNameAdd').val(),
                    'ParrentID': null,
                    'MenuUrl': $('#MenuUrlAdd').val(),
                    'HasChild': isChildAdd,
                    'PassCode': $('#PassCode').val(),
                });
            }
          
            $.ajax({
                url: '/Learning/AddMenu',
                type: 'POST',
                contentType: 'application/json',
                done: submissionSucceeded,
                fail: submissionFailed,
                data: dataObject
            });


        });

        $("#btnEdit").click(function () {

            if (isChildEdit) {
                var dataObject = JSON.stringify({
                    'MenuID': MenuIDEdit,
                    'MenuName': $('#MenuNameEdit').val(),
                    'ParrentID': MenuIDEditChange,
                    'MenuUrl': $('#MenuUrlEdit').val(),
                    'PassCode': $('#PassCodeEdit').val(),
                    'HasChild' : isChildEdit
                });
            } else {
                var dataObject = JSON.stringify({
                    'MenuID': MenuIDEdit,
                    'MenuName': $('#MenuNameEdit').val(),
                    'ParrentID': 0,
                    'MenuUrl': $('#MenuUrlEdit').val(),
                    'PassCode': $('#PassCodeEdit').val(),
                    'HasChild': isChildEdit
                });
            }

            $.ajax({
                url: '/Learning/EditMenu',
                type: 'POST',
                contentType: 'application/json',
                done: submissionSucceeded,
                fail: submissionFailed,
                data: dataObject
            });
        });


        function submissionSucceeded() {
            console.log("Ok")
        }
        function submissionFailed() {
            console.log("Failed")
        }

    });





</script>