@using GOWEB.Models;
@using System.Xml;

@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}

@section MainContent
    {

    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">مقالات</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="index.html">خانه</a></li>
                    <li class="active">مقالات</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="blog">
                <!-- start blog -->
                <div class="col-md-2 blog_right no-padding ellipsistitle divrightarticle hidden-sm hidden-xs" id="MagazinesNews">




                    <div class="widget">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">پربازدید ترین ها</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="list-unstyled hidden-sm hidden-xs div-bg-white" id="MostRecentNews">
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>


                </div>


                <div class="blog_main col-md-7 ">
                    <div id="CenterContent">

                    </div>

                    <div class="clearfix"></div>

                    <ul class="pagination" id="PageNumber"></ul>
                </div>

                <div class="col-md-2 blog_right no-padding divleftarticle">


                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">مقالات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <ul class="tag_nav list-unstyled div-bg-white" id="MyMagazinesG"></ul>
                        </div>
                    </div>


                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="ads_nav list-unstyled  hidden-sm hidden-xs div-bg-white">
                                <li><a href="http://www.bamilo.com/"><img src="~/images/ads/bamilo.png" alt=""> </a></li>
                                <li><a href="https://www.digikala.com/"><img src="~/images/ads/digikala125.gif" alt=""> </a></li>
                                <li><a href="http://goldiran.ir/"><img src="~/images/ads/goldiran.png" alt=""> </a></li>
                                <li><a href="http://izigzag.com/L/Brand"><img src="~/images/ads/zigzag125.gif" alt=""> </a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>



                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تگ ها</h6>
                        </div>
                        <div class="widget-content md-padding">

                            <ul class="tag_nav list-unstyled  hidden-sm hidden-xs div-bg-white">
                                <li class="active"><a href="#">قالب</a></li>
                                <li><a href="#">طراحی سایت</a></li>
                                <li><a href="#">سئو</a></li>
                                <li><a href="#">بهینه سازی سایت</a></li>
                                <li><a href="#">موبایل</a></li>
                                <li><a href="#">بازی</a></li>
                                <li><a href="#">اخبار</a></li>
                                <li><a href="#">تکنولوژی</a></li>
                                <li><a href="#">طراحی قالب</a></li>
                                <li><a href="#">وردپرس</a></li>
                                <li><a href="#">جوملا</a></li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                    </div>

                    <div class="widget hidden-sm hidden-xs">
                        <div class="widget-header text-align-center">
                            <h6 class="line-height-2-5">تبلیغات</h6>
                        </div>
                        <div class="widget-content md-padding">
                            <div class="row text-align-center no-padding">
                                <div class="paddingbottom5 col-lg-12 col-md-12 hidden-sm hidden-xs">
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.samsung.com/iran/smartphones/galaxy-s8">
                                            <img src="~/images/ads/samsung.gif" alt="سامسونگ" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.digikala.com">
                                            <img src="~/images/ads/digikala.gif" alt="دیجی کالا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://goldiran.ir/">
                                            <img src="~/images/ads/goldiran.gif" alt="گلدیران" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.bamilo.com/">
                                            <img src="~/images/ads/bamilo.gif" alt="بامیلو" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.alibaba.ir/">
                                            <img src="~/images/ads/alibaba.gif" alt="علی بابا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.lotuscarsiran.ir/">
                                            <img src="~/images/ads/lotus.gif" alt="lotus" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.golfamsafar.com/">
                                            <img src="~/images/ads/golfamsafar.gif" alt="گلفام سفر" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.irannovinclinic.com/">
                                            <img src="~/images/ads/irannovinclinic.gif" alt="کلینیک ایران نوین" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://irtoya.com/">
                                            <img src="~/images/ads/irtoya.gif" alt="ایرتویا" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://jabama.ir/">
                                            <img src="~/images/ads/jabama.gif" alt="جاباما" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="https://www.nomatec.net/Products/SCM">
                                            <img src="~/images/ads/nomatec.gif" alt="نوماتک" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="paddingbottom5">
                                        <a target="_blank" href="http://www.parsonline.com/">
                                            <img src="~/images/ads/parsonline.gif" alt="پارس آنلاین" class="img-responsive">
                                        </a>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div><!-- end blog -->
        </div>
    </div>

}

@section ScriptJs{



    <script>
        $(document).ready(function () {

            $.getJSON("/DT/GetMostRecentNews", function (data) {
                var $xml = $(data);
                var allhtml = "";
                $.each($xml, function (index, value) {
                    var Prehref = "/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                    var $taga = "<li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a title='" + value.NTitle + "' href='" + Prehref + "'> " + value.NTitle + " </a></li>";
                    allhtml += $taga;
                });
                $('#MostRecentNews').append(allhtml);
            });

            $.getJSON("/DT/GetMagazines", function (data) {
                var $xml = $(data);
                var allhtml = "";
                $.each($xml, function (index, value) {
                    var $eachMagazine = "<div class='widget'><div class='widget-header text-align-center'><a class='colorblack' href='/Home/Magazine/" + value.MagazineID + "'><h6 class='line-height-2-5'>" + value.SiteName + "</h6></a></div><div class='widget-content md-padding'><ul id='mgz" + value.MagazineID + "' class='list-unstyled hidden-sm hidden-xs div-bg-white'><div class='clearfix'></div></ul></div></div>";
                    $('#MagazinesNews').append($eachMagazine);
                    $.getJSON("/DT/GetLatestNewsByMagazineID/" + value.MagazineID + "", function (myData) {
                        var $xData = $(myData);
                        $.each($xData, function (key, item) {
                            var Prehref = "/Home/ArticleDetails/" + item.NewsID + "|" + item.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                            var $ulItem = "<li class=''><i class='fa fa-angle-double-left paddingLeft5' aria-hidden='true'></i><a title='" + item.NTitle + "' href='" + Prehref + "'> " + item.NTitle + "</a></li>";
                            $("#mgz" + value.MagazineID).append($ulItem);
                        });
                    });
                });
            });

            $.getJSON("/DT/GetDistinctMagazines", function (data) {
                var $xml = $(data);
                var allhtml = "";
                $.each($xml, function (index, value) {
                    var myitem = "<li><a href='/Home/Magazine/" + value.MagazineID + "'>" + value.SiteName + "</a></li>";
                    $('#MyMagazinesG').append(myitem);

                });
                $('#MyMagazinesG').append("<div class='clearfix'></div>");
            });






            ///////////////////////Load content
            var pathname = window.location.pathname;
            if (pathname.toLowerCase().indexOf("articleshow") >= 0) {
                ///////////////////////articleshow
                var n = pathname.lastIndexOf('/');
                var narticleshow = pathname.substring(n + 1);

                $.getJSON("/DT/GetAllNews/" + narticleshow, function (data) {
                    var $xml = $(data);
                    $.each($xml, function (index, value) {
                        var Prehref = "/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                        var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4><a href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
                        $("#CenterContent").append(newesItem)
                    });
                });
                
                $.getJSON("/DT/GetAllPages/0", function (data) {

                    var PagesItem = "";
                    for (var i = 0; i < data; i++) {
                        PagesItem += "<li><a href='/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
                    }
                    $("#PageNumber").append(PagesItem)

                });






            }
            else if (pathname.toLowerCase().indexOf("article") >= 0) {
                //////////////////////////////article
                $.getJSON("/DT/GetAllNews/0", function (data) {
                    var $xml = $(data);
                    $.each($xml, function (index, value) {
                        var Prehref = "/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                        var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4><a href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
                        $("#CenterContent").append(newesItem)
                    });
                });

                $.getJSON("/DT/GetAllPages/0", function (data) {

                    var PagesItem = "";
                    for (var i = 0; i < data; i++) {
                        PagesItem += "<li><a href='/Home/ArticleShow/" + i + "' > " + i + "</a></li>";
                    }
                    $("#PageNumber").append(PagesItem)

                });





            }
            else if (pathname.toLowerCase().indexOf("magazineselected") >= 0) {
                /////////////////////////////////magazineselected

                var n = pathname.lastIndexOf('/');
                var tmp = pathname.substring(n + 1);
                var arr = tmp.split('-');

                var nMagazineID = arr[0];
                var start = arr[1];

                $.getJSON("/DT/GetAllNewsMagazine/", { id: nMagazineID, start: start }, function (data) {
                    var $xml = $(data);
                    $.each($xml, function (index, value) {
                        var Prehref = "/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                        var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4><a href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
                        $("#CenterContent").append(newesItem)
                    });
                });
                
                $.getJSON("/DT/GetAllPages/" + nMagazineID, function (data) {
                    console.log(data);
                    var PagesItem = "";
                    for (var i = 0; i < data; i++) {
                        PagesItem += "<li><a href='/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
                    }
                    $("#PageNumber").append(PagesItem)

                });





            }
            else if (pathname.toLowerCase().indexOf("magazine") >= 0) {
                /////////////////////////magazine

                var n = pathname.lastIndexOf('/');
                var nMagazineID = pathname.substring(n + 1);
            
                $.getJSON("/DT/GetAllNewsMagazine/", { id: nMagazineID , start: 0 }, function (data) {
                    var $xml = $(data);
                    $.each($xml, function (index, value) {
                        var Prehref = "/Home/ArticleDetails/" + value.NewsID + "|" + value.NTitle.replace(" ", "-").replace("+", "-").replace("?", "-").replace("*", "-");
                        var newesItem = "<div class='blog_list bg-white'><div class='col-md-12 blog_left'><a href='" + Prehref + "'><img src='' alt='' class='img-responsive' /></a><h4><a href='" + Prehref + "'>" + value.NTitle + "</a></h4><span>نوشته شده در تاریخ " + value.PubDate + "  در " + value.SiteTitle + " <a><i class='fa fa-eye'></i></a> " + value.ViewNumber + " بازدید</span><p class='para'>" + value.Description + "</p><div class='read_btn padding-bottom10'><a href='" + Prehref + "'><button class='btnArticle'>ادامه مطلب</button></a></div></div><div class='clearfix'></div></div>";
                        $("#CenterContent").append(newesItem)
                    });
                });

                
                $.getJSON("/DT/GetAllPages/" + nMagazineID, function (data) {
                    console.log(data);
                    var PagesItem = "";
                    for (var i = 0; i < data; i++) {
                        PagesItem += "<li><a href='/Home/MagazineSelected/" + nMagazineID + "-" + i + "' > " + i + "</a></li>";
                    }
                    $("#PageNumber").append(PagesItem)

                });
            }


        });
    </script>

}