@section StyleScript
    {
  <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

  
}
@section MainContent
    {
    
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="index.html">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    



    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="portfolio_main">
                @*<ul id="filters" class="clearfix">
                    <li>
                        <span class="filter active" data-filter="app card icon web">همه</span>
                    </li>
                    <li>
                        <span class="filter" data-filter="app  icon">شرکتی</span>
                    </li>
                    <li>
                        <span class="filter" data-filter="card ">خبری</span>
                    </li>
                    <li>
                        <span class="filter" data-filter="icon app card ">فروشگاهی</span>
                    </li>
                    <li>
                        <span class="filter" data-filter="web card icon">شخصی</span>
                    </li>
                </ul>*@
                <div id="portfoliolist">
                    <div class="portfolio logo1" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-greenpack.ir.png"><img src="~/images/images/p-greenpack.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://greenpack.ir">greenpack</a></span>
                                    
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-pishahangan.com.png"><img src="~/images/images/p-pishahangan.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://pishahangan.com">شرکت پیشاهنگان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-parsehdecoration.com.png"><img src="~/images/images/p-parsehdecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://parsehdecoration.com">دکوراسیون داخلی مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-tehrandecoration.com.png"><img src="~/images/images/p-tehrandecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://tehrandecoration.com">دیوارپوش مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-nojavan-inst.com.png"><img src="~/images/images/p-nojavan-inst.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://nojavan-inst.com">دفتر وکالت</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-kgdrubber.ir.png"><img src="~/images/images/p-kgdrubber.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://kgdrubber.ir">شرکت کیمیاگستر</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-payamefootball.com.png"><img src="~/images/images/p-payamefootball.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://payamefootball.com">اخبار ورزشی</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                     <div class="portfolio logo1" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-segooshgrill.com.png"><img src="~/images/images/p-segooshgrill.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack"href="http://segooshgrill.com">رستوران سه گوش گریل</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="clearfix"></div>
                @*<ul class="pagination">
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="cau_hide"><a href="#">4</a></li>
                    <li class="cau_hide"><a href="#">5</a></li>
                    <li class="cau_hide"><a href="#">6</a></li>
                    <li class="cau_hide"><a href="#">7</a></li>
                    <li><a href="#">Next</a></li>
                </ul>*@
            </div>
        </div>
    </div>






    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>
}

@section ScriptJs
    {
  

}