
@section Head
{

    <title>ارتباط با ما |  | سئو سبز</title>

    <meta name="description" content="برای دریافت مشاوره رایگان با رابطه با طراحی سایت، بهبود سایت، بهینه سازی سایت، سئو سایت میتوانید با شماره های 021-77166964 و 09128238263 تماس حاصل فرمایید" />
    <meta name="keywords" content="بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="DC.keywords" content="بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="DC.description" content="برای دریافت مشاوره رایگان با رابطه با طراحی سایت، بهبود سایت، بهینه سازی سایت، سئو سایت میتوانید با شماره های 021-77166964 و 09128238263 تماس حاصل فرمایید" />
    <meta name="DC.Title" content="بهینه سازی سایت - سئو سایت - طراحی سایت ارزان - بهبود رنک الکسا" />
    <meta name="DC.Subject" content="طراحی سایت |  بهینه سازی سایت |  طراحی وب سایت |  بهینه سازی وب سایت |  سئو " />

    <meta property="og:title" content="بهینه سازی سایت - سئو سایت - طراحی سایت ارزان - بهبود رنک الکسا" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/ارتباط_با_ما_سئو_سایت" />
    <meta property="og:description" content="برای دریافت مشاوره رایگان با رابطه با طراحی سایت، بهبود سایت، بهینه سازی سایت، سئو سایت میتوانید با شماره های 021-77166964 و 09128238263 تماس حاصل فرمایید" />

    <meta name="twitter:title" content="بهینه سازی سایت - سئو سایت - طراحی سایت ارزان - بهبود رنک الکسا" />
    <meta name="twitter:description" content="برای دریافت مشاوره رایگان با رابطه با طراحی سایت، بهبود سایت، بهینه سازی سایت، سئو سایت میتوانید با شماره های 021-77166964 و 09128238263 تماس حاصل فرمایید" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/ارتباط_با_ما_سئو_سایت" />

}




@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">
}
@section StyleSamplePage{

    <script src="~/js/jquery-ui.min.js"></script>
}

@section MainContent
    {
    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">ارتباط با ما</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">ارتباط با ما</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="contact">
                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" class="mapgoogle">بازدید در اندازه بزرگتر</a></small>
                <p class="style">شرکت GreenOptimizer با سابقه طولانی در زمینه طراحی سایت و اتوماسیون اداری و سئو آماده همکاری با شما هم میهنان گرامی می باشد. این شرکت 11 سال می باشد که در این امور همراه شما عزیزان می باشد. در عصر حاضر تجربه اصل بسیار مهم به شمار می آید. در این راستا در امور اینترنتی کوشیدیم تا به این مهم بی افزاییم. همواره می کوشیم تا با اتکا به عنایت ایزد متعال و با تجربه ای که از این سال ها کسب نموده ایم،بتوانیم در ارائه خدمات بهتر به موفقیت های چشمگیری نائل آییم. باور داریم ادامه حیات ما منوط به رضایت مشتریان می باشد. لذا تلاش داریم همواره رضایت شما را فزونی بخشیم.</p>
                <div class="contact_main">

                    <div class="col-md-8">
                        <div class="contact-form">
                            <h4>جهت تماس اطلاعات ذیل را پر کنید تا با شما تماس گرفته شود.</h4>
                            <form method="post" action="contact-post.html">
                                <input type="text" value="نام" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'نام';}">
                                <input type="text" value="ایمیل" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'ایمیل';}">
                                <input type="text" value="موضوع" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'موضوع';}">
                                <textarea onfocus="if (this.value == 'متن پیام خود را وارد کنید...') this.value = '';" onblur="    if (this.value == '') this.value = 'متن پیام خود را وارد کنید...';">متن پیام خود را وارد کنید...</textarea>
                                <span><input type="submit" value="ارسال پیام"></span>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4 company_ad dir-rtl">
                        <h4>اطلاعات تماس</h4>
                        <address>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <a href="mailto:info@greenoptimizer.com">info@greenoptimizer.com</a>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>ایمیل:</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <p>02177166964</p>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>تلفن:</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <p>02177166964</p>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>فکس:</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <p>09128238263</p>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>موبایل:</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <p>GreenOptimizer</p>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>اینستاگرام:</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-md-6 text-align-right">
                                    <p>GreenOptimizer</p>
                                </div>
                                <div class="col-md-6 text-align-right">
                                    <p>فیسبوک:</p>
                                </div>
                            </div>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

}