
@section Head
{

    <title>درباره ما  |  سئو</title>

    <meta name="description" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز | بهینه سازی سایت | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> | افزایش رتبه سایت در <b>گوگل</b> | ارتقاء رتبه در الکسا | SEO وبسایت " />
    <meta name="keywords" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز | بهینه سازی سایت | بهینه سازی وبسایت | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> | قیمت  بهینه سازی سایت | آموزش <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> | ارتقاء سایت در <b>گوگل</b> | بالا بردن رتبه سایت در <b>گوگل</b> |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b>  | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> و بهینه سازی سایت | سفارش بهینه سازی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> فروشگاهی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> شخصی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> شرکتی | افزایش رتبه در <b>گوگل</b> | SEO | Search Engine Optimization" />
    <meta name="DC.keywords" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز | بهینه سازی سایت | بهینه سازی وبسایت | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> | قیمت  بهینه سازی سایت | آموزش <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> | ارتقاء سایت در <b>گوگل</b> | بالا بردن رتبه سایت در <b>گوگل</b> |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b>  | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> و بهینه سازی سایت | سفارش بهینه سازی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> فروشگاهی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> شخصی |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> شرکتی | افزایش رتبه در <b>گوگل</b> | SEO | Search Engine Optimization" />
    <meta name="DC.description" content=" شرکت بهینه ساز سبز با چشم اندازی 10 ساله بر آن است که بتواند با جذب 200 نفر برنامه نویس خبره در زمینه های IoT و بردهای raspberry board و هم چنین رباتیک دارای محبوبیت و نمادی معتبر در ایران و انگلیس باشد." />
    <meta name="DC.Title" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز | بهینه سازی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> |     <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> | <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت | SEO" />
    <meta name="DC.Subject" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز |    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> |  بهینه سازی سایت |  طراحی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> |  بهینه سازی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> |  <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> " />

    <meta property="og:title" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز - بهینه سازی سایت - <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت -    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a>" />
    <meta property="og:url" content="http://iwebdesignseo.com/Home/AboutUs" />
    <meta property="og:description" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز - بهینه سازی سایت - <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت -    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> - بهبود سایت" />

    <meta name="twitter:title" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز - بهینه سازی سایت - <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت -    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> -    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a> ارزان" />
    <meta name="twitter:description" content="<b><a href=" http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز - بهینه سازی سایت - <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت -    <a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a>" />
    <meta name="twitter:creator" content="http://iwebdesignseo.com/Home/AboutUs" />

}




@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">
}
@section StyleSamplePage{
    <!-- start light_box -->
    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />

    <script src="~/js/fliplightbox.min.js"></script>
    <script type="text/javascript">
        $('body').flipLightBox()
    </script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>

    <script src="~/js/jquery.fancybox-1.2.1.js"></script>
    <script src="~/js/CustomJavaScripts.js"></script>
}
@section MainContent
    {

    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">درباره ما</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">درباره ما</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">



            <div class="main about span_of_3 text-align-right">
                <h1><b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> برای سایت - <b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت</h1>

                <p class="para">
                    رعایت اصول و قواعد  در کد نویسی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a>
                    <br />
                    برای آنکه <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> شما در <b>موتورهای جستجو</b> رتبه مناسبی داشته باشد می بایست اصول و قواعد طراحی و <b><b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b></b> را در پیاده سازی آن رعایت شده باشد در زیر چند اصل اولیه مهم را برای شما بیان می نمایم:



                    <br />
                    کد نویسی HTML <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> می بایست بر پایه تگ DIV پیاده سازی شده باشد و از تگ TABLE برای صفحه بندی استفاده نگردد. تگ TABLE فقط می بایست برای داده های جدولی مورد استفاده قرار بگیرد.


                    <br />


                    (SEF) باشد. در این نوع آدرس دهی برای هر دسته بندی یک فلدر در نظر گرفته می شود و نام صفحات بر اساس عنوان صفحه در نظر گرفته می شود. به عنوان مثال برای آنکه نام صفحه شبیه به index.php?id=10 داشته باشیم از نام صفحه page-title.html استفاده می نماییم. استفاده از نام صفحه فارسی تاثیر بهتری در ایندکس صفحات <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> در موتور جستجو خواهد داشت.

                    <br />

                    آدرس دهی صفحات می بایست بهینه سازی شده برای <b>موتورهای جستجو</b>
                    <br />

                    کد نویسی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> می بایست استاندارد w3c باشد و پس از اتمام طراح <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> حتما <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> را می بایست در W3c Validator بررسی نموده و خطاهای سایت را بر طرف نمایید. در صورتی که خطاهای <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> رفع گردد این <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> پیغام تبریکی را به شما نمایش می دهد. نکته: این <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> صفحات <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> را به صورت جداگانه اعتبارسنجی می نمایید بنابراین کار تست می بایست بر روی تک تک صفحات <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> انجام گردد.
                    <br />
                    در نظر گرفتن عنوان برای صفحات <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> و استفاده از تگ های H1,H2,H3 و .. در سایت

                    <br />
                    در کنار رعایت اصول اولیه و مقدماتی، اصول و موارد پیشرفته تری وجود دارند دارند که رعایت آنها در کد نویسی صفحات باعث بالا رفتن رنک <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> در <b>موتورهای جستجو</b> می گردد که در زیر اصول را برای شما بیان می نمایم
                    <br />
                    ایجاد نسخه موبایلی <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> تاثیر بسیار متبتی بر رنک <a href="http://iwebdesignseo.com/Learning/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA-%D8%A8%D9%87%DB%8C%D9%86%D9%87-%D8%B3%D8%A7%D8%B2%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA/%D8%B3%D8%A6%D9%88-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">وب سایت</a> در <b>موتورهای جستجو</b> خواهد داشت، زیرا که کاربران بسیاری از موبایل و تبلت برای جستجوی وب استفاده می نمایند و نمایش درست و مناسب سایت در موبایل و تبلت باعث می شود تا کاربر با ابزارهای موبایلی مدت زمان بیشتری در سایت بماند و همین مسئله تاثیر بسیار مثبتی در رنک سایت خواهد داشت

                    <br />
                    استفاده از اسنیپت ها (rich snippets and structured data) باعث بالا رفتن خوانایی سایت در <b>موتورهای جستجو</b> می گردد. در صورتی که از rich snippets و structured data استفاده نموده اید می توانید آن را در <b>Google</b> Structured Data Testing Tool - <b>Google</b> Help بررسی نمایید، فقط کافی است آدرس صفحه مورد نظر خود را در این سایت وارد نموده تا اسنیپت های بکار رفته در این صفحه را به شما نمایش دهد.
                    <br />

                </p>


                <p class="para"><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA" target="_blank"><b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سایت و    </a><a href="http://iwebdesignseo.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a></p>
                <p class="para">تیم <b><b><a href="http://iwebdesignseo.com/Home/%D8%B3%D8%A6%D9%88-%D8%B3%D8%A7%DB%8C%D8%AA">سئو</a></b> سبز</b> در اندیشه افزایش کسب وکار و درآمد شما عزیزان</p>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-left"><h5>شماره تماس:</h5></div>
                </div>
                <div class="clearfix"></div>


            </div>










        </div>
    </div>
}