
@section Head
{

    <title>درباره ما |  | سئو سبز</title>

    <meta name="description" content="سئو سبز | بهینه سازی سایت | سئو سایت | طراحی سایت | افزایش رتبه سایت در گوگل | ارتقاء رتبه در الکسا | SEO وبسایت " />
    <meta name="keywords" content="سئو سبز | بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="DC.keywords" content="سئو سبز | بهینه سازی سایت | بهینه سازی وبسایت | سئو | قیمت  بهینه سازی سایت | آموزش سئو | ارتقاء سایت در گوگل | بالا بردن رتبه سایت در گوگل | طراحی سایت | طراحی وبسایت | بهینه سازی سایت چیست | تعریف بهینه سازی سایت | سئو  | سئو و بهینه سازی سایت | سفارش بهینه سازی | طراحی سایت فروشگاهی | طراحی سایت شخصی | طراحی سایت شرکتی | افزایش رتبه در گوگل | SEO | Search Engine Optimization" />
    <meta name="DC.description" content=" شرکت بهینه ساز سبز با چشم اندازی 10 ساله بر آن است که بتواند با جذب 200 نفر برنامه نویس خبره در زمینه های IoT و بردهای raspberry board و هم چنین رباتیک دارای محبوبیت و نمادی معتبر در ایران و انگلیس باشد." />
    <meta name="DC.Title" content="سئو سبز | بهینه سازی وب سایت |  طراحی سایت | سئو سایت | SEO" />
    <meta name="DC.Subject" content="سئو سبز | طراحی سایت |  بهینه سازی سایت |  طراحی وب سایت |  بهینه سازی وب سایت |  سئو " />

    <meta property="og:title" content="سئو سبز - بهینه سازی سایت - سئو سایت - طراحی سایت" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/AboutUs" />
    <meta property="og:description" content="سئو سبز - بهینه سازی سایت - سئو سایت - طراحی سایت - بهبود سایت" />

    <meta name="twitter:title" content="سئو سبز - بهینه سازی سایت - سئو سایت - طراحی سایت - طراحی سایت ارزان" />
    <meta name="twitter:description" content="سئو سبز - بهینه سازی سایت - سئو سایت - طراحی سایت" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/AboutUs" />

}




@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">
}
@section StyleSamplePage{
    <!-- start light_box -->
    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />

    <script src="~/js/fliplightbox.min.js"></script>
    <script type="text/javascript">
        $('body').flipLightBox()
    </script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>

    <script src="~/js/jquery.fancybox-1.2.1.js"></script>
    <script src="~/js/CustomJavaScripts.js"></script>
}
@section MainContent
    {

    <div class="main_bg">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">درباره ما</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">درباره ما</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="main about span_of_3">
                <h4>گروه سئو سبز ، فعالیت ها، اعضا و افتخارات</h4>
                <p class="para">شرکت سئو سبز با سابقه طولانی در زمینه طراحی سایت و اتوماسیون اداری و سئو آماده همکاری با شما هم میهنان گرامی می باشد. این شرکت 11 سال می باشد که در این امور همراه شما عزیزان می باشد. در عصر حاضر تجربه اصل بسیار مهم به شمار می آید. در این راستا در امور اینترنتی کوشیدیم تا به این مهم بی افزاییم. همواره می کوشیم تا با اتکا به عنایت ایزد متعال و با تجربه ای که از این سال ها کسب نموده ایم،بتوانیم در ارائه خدمات بهتر به موفقیت های چشمگیری نائل آییم. باور داریم ادامه حیات ما منوط به رضایت مشتریان می باشد. لذا تلاش داریم همواره رضایت شما را فزونی بخشیم.</p>
                <div class="col-md-3 span1_of_3">
                    <img src="~/images/About_us.png" />
                </div>
                <div class="col-md-6 span1_of_3">
                    <div class="text-align-center">
                        <h5>با کمک کارشناسان، ما خواهیم توانست</h5>
                    </div>
                    <!-- start circle -->
                    <ul class="list-unstyled circle_list">
                        <li>
                            <div class="safari chart">
                                <div class="tag">50%</div>
                            </div>
                            <h4 class="style">شناسایی بازار</h4>
                        </li>
                        <li>
                            <div class="moz chart">
                                <div class="tag">75%</div>
                            </div>
                            <h4 class="style">مهارت</h4>
                        </li>
                        <li>
                            <div class="google chart">
                                <div class="tag">90%</div>
                            </div>
                            <h4 class="style">تجربه</h4>
                        </li>
                    </ul>
                    <!-- end circle -->
                </div>
                <div class="col-md-3 span1_of_3">
                    <h5>بخشی از خدمات ما عبارتند از:</h5>
                    <div class="clients1">
                        <ul class="list-unstyled nav_list">
                            <li><a href="#">بهبود شبکه های اجتماعی</a></li>
                            <li><a href="#">تبلیغات در گوگل</a></li>
                            <li><a href="#">بهینه سازی سئو</a></li>
                            <li><a href="#">طراحی سایت فروشگاهی</a></li>
                            <li><a href="#">طراحی سایت شرکتی</a></li>
                            <li><a href="#">طراحی اتوماسیون اداری</a></li>
                            <li><a href="#">طراحی سایت های شخصی</a></li>
                            <li><a href="#">مشاوره و بازاریابی هدف</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
}