
@section Head
{

    <title>طراحی سایت | طراحی سایت ارزان | سئو سبز</title>

    <meta name="description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="keywords" content="طراحی سایت | افزایش رتبه الکسا |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | سئو سبز" />
    <meta name="DC.keywords" content="طراحی سایت |  ساخت سایت |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  شرکت طراحی سایت | طراحی سایت ارزان | سئو سبز	" />
    <meta name="DC.description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta name="DC.Subject" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />

    <meta property="og:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/طراحی_سایت" />
    <meta property="og:description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />

    <meta name="twitter:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta name="twitter:description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/طراحی_سایت" />

}


@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent
    {
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container">
            <div class="main about span_of_3">

                <div class="pricing2">
                    <!-- start pricing2 -->


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>پلان چهارم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی اختصاصی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line4">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>سایت اختصاصی با معماری Asp.net</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 1000 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 6 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان سوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی اختصاصی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line3">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>سایت اختصاصی با معماری Asp.net</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 500 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 3 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان دوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line2">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 200 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 2 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان اول</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line1">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 500 مگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پایه بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 100 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 1 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>


            </div>





            <div id="divdetailDesign" class="middle_grid">
                
                <div class="span_of_4">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/why-GreenOptimizer.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h4>سفارشات طراحی سایت می تواند شامل موارد زیر شوند</h4>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت فروشگاهی با امکان پرداخت اينترنتي</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت ارزان قیمت + آموزش مدیریت سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی و ترجمه سایت به چند زبان بدون محدودیت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">خدمات مدیریت سایت شما بصورت قرارداد دورکاری</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش سرعت صفحات سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">تامین امنیت سایت در برابر ویروس، اسپم و هک</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش رتبه سایت شما در الکسا</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس سئو اورگانیک وب سایت شما</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                </div>
                    <div class="clearfix"></div>
                </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/responsive.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h3><a href="/Home/طراحی_سایت">طراحی وب سایت ریسپانسیو</a></h3>
                        <p class="seo-text"><b>طراحی سایت ریسپانسیو</b> یا واکنش گرا (Responsive) که روشی نوین در طراحی وب سایت می باشد، همان وب سایت طراحی شده را متناسب با سایز نمایشگر دستگاه کاربر نمایش می دهد. بدین ترتیب در طراحی سایت واکنش گرا (Responsive)، نحوه ی نمایش سایت در سایزهای مختلف متفاوت است در نتیجه تفاوتی نخواهد داشت که کاربران با یک موبایل کوچک یا یک تبلت وارد وب سایت شوند و یا با نمایشگری بزرگ به بررسی بپردازند.</p>


                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h3><a href="/Home/سئو_سایت">تیم سئو سبز</a></h3>
                        <p class="seo-text">تیم نرم افزاری <b>سئو سبز</b> با 5 سال سابقه فعالیت نرم افزاری ، کار خود را بصورت رسمی از سال 94 با اتکاء به نیروی متخصص فنی و مدیریتی آغاز کرد .فعالیت ما تولید نرم افزارهای موبایل ، طراحی وبسایت و انجام تبلیغات می باشد  و  مفتخر به ارائه خدمات پر کیفیت ، امن و پیش تازانه بر اساس نظرات مشتریان هستیم .  محصولات جدید بصورت Responsive طراحی شده اند كه قابلیت تغییر ساختار صفحه بر اساس انواع موبایل های هوشمند و تبلتها را دارا هستند.کوشیده ایم تا با اعمال روشهای مدیریتی صحیح و نوآورانه در تولید ، اطلاع رسانی ،فروش و پشتیبانی ، کیفیت سرویس خود را ارتقاء داده و ترجیح رضایت مشتریان باشد.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/site-Designer.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/different-site.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h3><a href="/Home/طراحی_سایت">طراحی سایت فروشگاهی</a></h3>
                        <p class="seo-text">شرکت <b>سئو سبز</b> با 5 سال سابقه طراحی و ساخت وبسایت های مختلف به انواع مختلف طراحی سایت فروشگاهی و طراحی پرتال سازمانی و طراحی سایت خبرگزاری و طراحی سایت شرکتی و طراحی سایت آژانس هواپیمایی و طراحی سایت املاک و غیره می پردازد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>










            @*<a href="http://greenoptimizer.com"><b>طراحی سایت ریسپانسیو</b></a>
        <b>طراحی سایت ریسپانسیو</b>
            class="font-size-18"

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-12 ">


                        <h1 class="font-size-18">طراحی سایت تبلیغاتی</h1>
                        یکی از رایج ترین انواع وب سایت در دنیای وب فارسی وب سایت های تبلیغاتی هستند. اولین وب سایت فارسی که به این روش راه اندازی شد وب سایت ایستگاه بود که در حال حاضر جز پربیننده ترین وب سایت های فارسی است. در حال حاضر بیش از 2000 وب سایت تبلیغاتی مشابه این وب سایت وجود دارند که اکثر آنها از وب سایت ایستگاه کپی برداری شده اند و به دلیل اینکه از نظر ظاهری و امکانات کاملا مشابه هم هستند رونق چندانی ندارند. در شرکت <strong>طراحی سایت</strong> سئو سبز به <strong>طراحی سایت تبلیغاتی</strong>&nbsp;و طراحی وبسایت ها و آموزش طراحی سایت&nbsp;می پردازیم که می توانید <a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C_%D8%B3%D8%A7%DB%8C%D8%AA">هزینه طراحی سایت&nbsp;</a>را در اینجا ملاحظه نمایید.
                        اما برخی دیگر از این وب سایت ها با به کارگیری روش های نوین و ابزارهای جدید ظاهری شکیل دارند و هم برای آگهی دهنده و هم برای بیننده وب سایت جذابیت بیشتری دارند. در سال های اخیر وب سایت هایی مثل سایت دیوار و شیپور با گرافیک بسیار ساده و سهولت استفاده از سایت آگهی ، تحولی دیگر در سایت های تبلیغاتی به وجود آوردند.
                        <h2 class="font-size-18">چگونه یک سایت تبلیغاتی بسازیم؟</h2>
                        نکته بسیار مهم در طراحی اینگونه سایت ها داشتن بیننده است. اگر وب سایت شما بیننده زیادی داشته باشد مسلما آگهی های بیشتری هم نصیب شما خواهد شد. زیرا افراد آگهی دهنده به دنبال سایت هایی هستند که آگهی آنها بیننده بیشتری داشته باشد. حتی بسیار اتفاق می افتد که افرادی به قراردادن آگهی خود در بسیاری از سایت های تبلیغاتی رایگان تمایلی نشان نمی دهند. با اینکه ملزم به پرداخت هزینه نیستند، می دانند که گذاشتن آگهی بدون بازدید کننده بی نتیجه خواهد بود و برعکس در سایت هایی مثل دیوار حاضر هستند با پرداخت هزینه، تنها مدتی کوتاهی آگهی آنها بالاتر نسبت به سایر آگهی ها قرار گیرد تا بازخورد بیشتری بگیرند. در نظر داشته باشید که بینندگانی برای سایت شما مفید واقع می شوند که هدفمند به سایت مراجعه کرده باشند، به عنوان مثال اگر شخصی به دنبال خرید خودرو پراید است و در گوگل به دنبال این عبارت جستجو می کند، اگر سایت نیازمندی شما در گوگل رتبه داشته باشد به آن مراجعه خواهد کرد و به آگهی دهنده سفارش خواهد داد. از طرف دیگر آگهی دهندگان نیز با مشاهده رتبه سایت شما در گوگل ترغیب خواهند شد که به سایت شما آگهی دهند. برای کسب اطلاعات بیشتر در مورد رتبه بندی گوگل و سئو به صفحه سئو سایت مراجعه نمایید.
                        <h2 class="font-size-18"><a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C_%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت</a> سئو سبز چگونه به این نیازها پاسخ داده است؟</h2>
                        اگر وب سایت شما بیننده زیادی داشته باشد مسلما آگهی های بیشتری هم نصیب آن خواهد شد. وب سایت های آگهی که توسط ما طراحی و پیاده سازی خواهند شد علاوه بر اینکه به طور اختصاصی برای شما طراحی خواهد شد شامل تمامی اصول سئو (بهینه سازی وب سایت برای موتورهای جستجو) خواهد بود و لذا بیننده بیشتری را به سمت سایت شما هدایت خواهد کرد.
                        <h2 class="font-size-18"><a href="http://greenoptimizer.com/Learning/طراحی_سایت_سئو_سایت_بهینه_سازی_سایت/طراحی_سایت_تبلیغاتی">طراحی سایت تبلیغاتی</a> به صورت اختصاصی</h2>
                        یکی از مهمترین مزایای طراحی سایت تبلیغاتی و نیازمندی توسط ما طراحی گرافیک و امکانات سایت به صورت اختصاصی می باشد که دقیقا بر اساس خواسته ها و نیازهای شما انجام خواهد شد. بنابراین می توانید با داشتن یک سایت تبلیغاتی متفاوت و ایده ای نو در بازار اینترنت کسب درآمد کنید.
                        <h2 class="font-size-18">طراحی سایت نیازمندی - <a href="http://greenoptimizer.com/Learning/طراحی_سایت_سئو_سایت_بهینه_سازی_سایت/طراحی_سایت_تبلیغاتی">طراحی سایت تبلیغاتی</a> - طراحی سایت آگهی</h2>
                        لطفا توجه کنید که وب سایت های تبلیغاتی و نیازمندی طراحی شده توسط ما به صورت یک پکیج آماده و بدون پشتیبانی ارائه نمی شود بلکه ما بر اساس نیازها و خواسته های شما وب سایت را به صورت بهینه سازی شده برای گوگل طراحی میکنیم و به همین دلیل احتمال موفقیت بیشتری نسبت به استفاده از اسکریپت های آماده و بعضا بی کیفیت در این زمینه دارید.

                        وب سایت، ابزار شما در راه موفقیت در اینترنت است و اگر از ابزار مناسبی استفاده نکنید قطعا بازدهی لازم را نخواهید داشت بنابراین در انتخاب ابزار خود دقت لازم را مبذول فرمایید. قطعا در صورتی که سایت نیازمندی شما حرف جدیدی برای گفتن نداشته باشد نمی تواند درآمدزایی کافی و بازدهی لازم را داشته باشد.

                        از طرف دیگر برای موفقیت در بازار اینترنت داشتن یک ابزار خوب به تنهایی کافی نیست و مانند هر کسب و کار دیگری نیاز به تلاش، پشتکار و دانش مرتبط با بازاریابی اینترنتی دارید. البته در این مورد نگران نباشید زیرا کارشناسان شرکت سئو سبز شما را در این راه راهنمایی می کنند و میتوانید از خدمات سئو و مشاوره بازاریابی اینترنتی شرکت سئو سبز در این زمینه بهره بگیرید.
                        <h2  class="font-size-18">مزایای <a href="http://greenoptimizer.com/Learning/طراحی_سایت_سئو_سایت_بهینه_سازی_سایت/طراحی_سایت_تبلیغاتی">طراحی سایت تبلیغاتی</a> توسط طراحی سایت سئو سبز</h2>
                        برخی از مزایای <a href="http://greenoptimizer.com/Learning/طراحی_سایت_سئو_سایت_بهینه_سازی_سایت/طراحی_سایت_تبلیغاتی">طراحی سایت تبلیغاتی</a> توسط طراحی سایت سئو سبز به صورت زیر است :
                        <ol>
                            <li>امنیت بسیار بالا</li>
                            <li>سرعت لود شدن صفحات قابل قبول و سریع</li>
                            <li>گرافیک مناسب و طراحی ظاهر اختصاصی سایت</li>
                            <li>سئو سایت بسیار قوی و قرار گرفتن آگهی ها در نتایج بالای گوگل</li>
                            <li>پشتیبانی مناسب</li>
                            <li>مشاوره بازاریابی اینترنتی و سئو برای مشتریان <a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C_%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت</a></li>
                            <li>پنل مدیریتی بسیار ساده و روان</li>
                        </ol>
                        لازم به توضیح است که بحث سئو در سایت های آگهی از اهمیت بسیار بالایی برخوردار است و ضامن موفقیت وب سایت تبلیغاتی می باشد. زیرا در صورتی آگهی دهنده نتیجه مناسب را در گوگل خواهد دید که مشتری هدفمند به سمت آگهی درج شده در سایت هدایت شود و اینگونه از مشتریان از طریق موتورهای جستجو به سمت سایت شما هدایت می شوند.
                        <h2 class="font-size-18">امکانات پایه <a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C_%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت</a> تبلیغاتی توسط سئو سبز:</h2>
                        برخی از امکانات <strong><a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C_%D8%B3%D8%A7%DB%8C%D8%AA">طراحی وب سایت</a></strong> آگهی (<strong>طراحی سایت تبلیغاتی</strong>) به صورت زیر است:
                        <ol>
                            <li>تعریف گروه آگهی ها و تبلیغات</li>
                            <li>تعریف دسته های فرعی آگهی ها و تبلیغات</li>
                            <li>قابلیت تعریف مدیر به تعداد بی نهایت با سطوح دسترسی های مختلف</li>
                            <li>نمایش&nbsp;لیست اعضای سایت&nbsp;همراه با قابلیت ارسال خبرنامه به اعضا</li>
                            <li>نمایش آگهی های رسیده و بررسی محتوای آنها و تایید و رد و یا حذف آگهی با قابلیت ارسال ایمیل اتوماتیک به آگهی دهنده مبنی بر تایید یا رد آگهی وی</li>
                            <li>طراحی اختصاصی با امکانات سئو همراه با بهینه سازی سایت جهت معرفی به موتورهای جستجوگر مثل گوگل</li>
                            <li>امکان افزودن کلمات کلیدی مختلف و به هر تعداد و ایجاد ارتباط بین دسته های نیازمندی و آگهی ها</li>
                            <li>تعریف روشهای پرداخت مختلف با امکان ورود پارامترها به صورت دلخواه</li>
                            <li>قابلیت تایید و یا رد فیشهای بانکی و افزایش موجودی حساب مشتری پس از تایید فیش و رویت آن</li>
                            <li>قابلیت تعریف و اضافه کردن حسابهای بانکی&nbsp;تمام شماره حساب ها و شماره کارت های 16 رقمی</li>
                            <li>مشاهده تراکنش های پرداخت آنلاین و امکان تایید و رد پرداخت و افزایش موجودی به صورت آنلاین مشتري</li>
                            <li>امکان افزودن یا کاهش اعتبار مشتری جهت مشتریان خاص</li>
                            <li>امکان ورود اخبار سایت و اطلاع رسانی به مشتریان</li>
                            <li>امکان ایجاد پکیج تعرفه برای هر دسته از تبلیغات بدون محدویت</li>
                            <li>بروز رسانی خودکار سایت شما بدون نیاز به دخالت شما بصورت کاملا اتوماتیک و خودکار</li>
                            <li>امکان مدیریت منوهای سایت بدون نیاز به دانش طراحی با قبلیت ترتیب گذاری و مدیریت اطلاعات صفحات</li>
                            <li>سیستم مدیریت تبلیغات بنر</li>
                        </ol>
                        توجه داشته باشید که امکانات فوق تنها بخشی از امکانات سایت های نیازمندی و تبلیغاتی طراحی شده توسط شرکت سئو سبز می باشد و برای دریافت امکانات کامل سایت های نیازمندی میتوانید با همکاران ما در سئو سبز تماس بگیرید و علاوه بر دریافت امکانات از مشاوره رایگان بهره مند شوید.








                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-md-4 text-align-left"><h5>شماره تماس:</h5></div>
                </div>

                <div class="clearfix"></div>
            </div>*@



































        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>
}

@section ScriptJs
    {
    <script>
        $(".detailDesign").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailDesign").offset().top
            }, 2000);
        });



    </script>


}