
@section Head
{

    <title>طراحی سایت | سئو سبز</title>

    <meta name="description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="keywords" content="طراحی سایت | سئو سبز |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | طراحی سایت سئو سبز" />
    <meta name="DC.keywords" content="طراحی سایت | سئو سبز |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | طراحی سایت سئو سبز" />
    <meta name="DC.description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content="طراحی سایت | سئو سبز" />
    <meta name="DC.Subject" content="طراحی سایت |  طراحی وب سایت | قیمت طراحی سایت | سئو سبز" />

    <meta property="og:title" content="طراحی سایت | سئو سبز" />
    <meta property="og:url" content="http://iwebdesignseo.com/Home/طراحی-سایت" />
    <meta property="og:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />

    <meta name="twitter:title" content="طراحی سایت | سئو سبز" />
    <meta name="twitter:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="http://iwebdesignseo.com/Home/طراحی-سایت" />

}


@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent
    {
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container">
            <div class="main about span_of_3">

                <div class="pricing2">
                    <!-- start pricing2 -->


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>پلان چهارم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number"> فروشگاهی + پکیج سئو</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>وردپرس به همراه 5000 بک لینک </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه پست در شبکه های اجتماعی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 6 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان سوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طرح اقتصادی + بک  لینک</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>وردپرس مناسب طرح اقتصادی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 2000 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 3.8 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان دوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 500 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 2.5 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان اول</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 500 مگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پایه بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 100 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 1.3 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>


            </div>


            <div id="" class="middle_grid">




                <section class="row align-right">
                   
                    <div class="">
                        <h1 class="f18 dark-green">تعرفه طراحی سایت- قیمت طراحی سایت</h1>
                        <br>
                        <p class="f-tahoma line-h f14">
                            نونگار هم اکنون با بکار گيری بيش از<span class="f-yekan f14"> 51</span> نيروی استخدامی در دو ساختمان مجزا با پشتوانه پيمانکاری بيش از <span class="f-yekan f14">1970</span> پروژه دولتی و خصوصی مصمم تر از قبل در حال فعاليت و خدمتگذاری است.
                            در کلیه گروه های کاری ذیل :
                        </p>
                        <ul class="f-tahoma list type-1 f14">
                            <li> تمامی استانداردهای گوگل و قوانین SEO رعایت خواهد شد . </li>
                            <li> سورس کامل پروژه همزمان با تسویه حساب به خریدار تحویل خواهد شد . </li>
                            <li> در انتهای کار،مالکیت دامنه و پنل بنام خریدار بروزرسانی خواهد شد . </li>
                            <li> تمدید کلیه خدمات قرارداد در سالهای آتی<span class="f-yekan f14">10%</span> رقم قرارداد خواهد بود . </li>
                            <li> مشاوره فنی و اجرائی با مدیر پروژه در هر مرحله میسر است . </li>
                            <li> پس از شروع پروژه گرافیست، برنامه نویس و اپراتور بطور مجزا معرفی خواهند شد . </li>
                            <li> محدودیتی در تعداد طرح و یا زمان کلاسها وجود ندارد . </li>
                            <li> جابجائی سایت بر روی سرورهای نونگار (در کشورهای مختلف) هزینه ای ندارد . </li>
                            <li> منبع محاسبات اجرای پروژه ها هر روز هفته بغیر از پنج شنبه ها و جمعه ها و روزهای تعطیل رسمی خواهد بود . </li>
                            <li> تهیه سرویس میزبانی و دامنه با تضمین نمایش <span class="f-yekan f14">99.9%</span> بر روی سرورهای نونگار از تعهدات نونگار بدون هزینه مضاعف است . </li>
                            <li> تضمین عملکردصحیح کلیه امکانات و سایت تحویلی روی سرورهای نونگار تا یکسال از تارخ عقد توافقنامه از تعهدات نونگار خواهد بود. </li>
                        </ul>
                        <br>
                        <p class="f14 f-tahoma">
                            کل قیمت طراحی سایت اعلامی بصورت خالص دریافتی خواهد بود که <span class="f-yekan f14">40%</span> ابتدا و <span class="f-yekan f14">60% </span>انتهای کار مطالبه خواهد شد .
                            بغیر از تعرفه طراحی سایت اعلامی هر گروه، سایت شما برای راه اندازی کامل هیچ مخارج جانبی دیگری نخواهد داشت . موارد آمده در گروه های کاری زیر مربوط به سایتهای معمولی است و در تولید سایتهای خاص متن قرارداد تبادل شده سند اجرا خواهد بود .
                        </p>
                    </div>


                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP1</p></div>
                            <div class="fives">
                                <img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg">
                            </div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>Corporate Editation</td></tr>
                                    <tr><td>میزبانی</td><td>500 MB + دامنه</td></tr>
                                    <tr><td>زمان تحویل</td><td>15(روز کاری)</td></tr>
                                    <tr>
                                        <td>توضیحات</td>
                                        <td>پروژه با ساختار گرافیکی اختصاصی طراحی می شود و برای سایت های اطلاع رسانی مناسب است.</td>
                                    </tr>
                                    <tr>
                                        <td>هزینه</td>
                                        <td>2/000/000(تومان)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            معرفی تیم اجرائی و مدیر پروژه<br>
                                            طراحی و تولید ساختار گرافیکی اختصاصی<br>
                                            نصب سیستم مدیریت محتوای کامل<br>
                                            آموزش حضوری<br>
                                            پشتیبانی سالانه کلی پروژه
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <br>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np1.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default" href="http://www.npco.net/print-np1.html" role="button" target="_blank">پرینت تعرفه</a>
                        </div>
                    </div>

                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP2</p></div>
                            <div class="fives">
                                <img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg">
                            </div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>Organize Editation</td></tr>
                                    <tr><td>میزبانی</td><td>GB 1 + دامنه</td></tr>
                                    <tr>
                                        <td>زمان تحویل</td>
                                        <td>
                                            25(روز کاری)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>توضیحات</td>
                                        <td>پروژه با ساختار گرافیکی اختصاصی با سطوح دسترسی تولید می شود و مناسب فروشگاه و سایت های خاص است .</td>
                                    </tr>
                                    <tr><td>هزینه </td><td>4/000/000(تومان)</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            کلیه موارد اعلامی در np1<br>
                                            نصب ماژولهای درخواستی<br>
                                            نصب سیستم فروشگاهی یا آگهی<br>
                                            قابلیت پرداخت آنلاین<br>
                                            ارتباط با سامانه پیامکی موجود
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <br>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np2.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/print-np2.html" role="button">پرینت تعرفه</a>
                        </div>
                    </div>

                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP3</p></div>
                            <div class="fives">
                                <img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg">
                            </div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>Full Editation</td></tr>
                                    <tr><td>میزبانی</td><td>2 GB + دامنه</td></tr>
                                    <tr><td>زمان تحویل</td><td>35(روز کاری)</td></tr>
                                    <tr>
                                        <td>توضیحات</td>
                                        <td> پروژه با ساختار گرافیکی اختصاصی و پنل مدیریت تخصصی تولید می شود و مناسب پرتال است .</td>
                                    </tr>
                                    <tr><td>هزینه </td><td>7/000/000(تومان)</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            کلیه موارد اعلامی در np2<br>
                                            معرفی برنامه نویس<br>
                                            تولید فروشگاه یا پرتال اختصاصی<br>
                                            ارتباط با سامانه ایمیلی و بانک اطلاعاتی<br>
                                            سیستم پروفایل کاربران و مشتریان
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <br>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np3.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/print-np3.html" role="button">پرینت تعرفه</a>
                        </div>
                    </div>

                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP4</p></div>
                            <div class="fives"><img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg"></div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>Custom Editation</td></tr>
                                    <tr><td>میزبانی</td><td>7 GB + دامنه2</td></tr>
                                    <tr><td>زمان تحویل</td><td>55(روز کاری)</td></tr>
                                    <tr><td>توضیحات</td><td>پروژه از پایه با رعایت کلیه الگوریتمهای سئو توسط تیم طراح متخصص تولید می شود و هیچ پیش فرض اولیه ای وجود ندارد. </td></tr>
                                    <tr><td>هزینه </td><td>12/000/000(تومان)</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            اعزام مدیر پروژه<br>
                                            کلیه موارد اعلامی در np3<br>
                                            معرفی کارشناس توسعه دهنده<br>
                                            رعایت کلیه ساختارهای SEO<br>
                                            بروزرسانی سیستم مدیریت محتوا به دلخواه<br>
                                            بهینه سازی ماژولها و افزونه ها به دلخواه
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <br>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np4.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default target=" _blank"="" target="_blank" "=" " href="http://www.npco.net/print-np4.html" role="button">پرینت تعرفه</a>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP5</p></div>
                            <div class="fives"><img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg"></div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>Professional Editation</td></tr>
                                    <tr><td>میزبانی</td><td>7 GB + دامنه2</td></tr>
                                    <tr><td>زمان تحویل</td><td>70(روز کاری)</td></tr>
                                    <tr><td>توضیحات</td><td>تولید بر اساس پلت فرم پیشنهادی خریدار ایجاد می شود و حداقل سه برنامه نویس برای تولید فریم ورک اختصاصی و استاندارد بصورت دایم با شما در ارتباط هستند </td></tr>
                                    <tr><td>هزینه </td><td>25/000/000(تومان)</td></tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            کلیه موارد اعلامی در np4<br>
                                            جاینمائی اولیه مطالب<br>
                                            ساختار سازی اختصاصی و CMS<br>
                                            کدنویسی پایه دستی به دلخواه<br>
                                            تحویل به صورت فاز به فاز
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <br>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np6.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default target=" _blank"="" target="_blank" "=" " href="http://www.npco.net/print-np6.html" role="button">پرینت تعرفه</a>
                        </div>
                        <br>
                    </div>
                    <br>

                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np">NP6</p></div>
                            <div class="fives">
                                <img style="float:left;" class="img-responsive" src="image/logo-np-co.jpg">
                            </div>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr><td>نام سرویس</td><td>customized design</td></tr>
                                    <tr><td>میزبانی</td><td>5 GB</td></tr>
                                    <tr><td>زمان تحویل</td><td>پس از اولین جلسه فنی اعلام می شود</td></tr>
                                    <tr><td>توضیحات</td><td>پروژه از پایه توسط تیم طراح متخصص تولید می شود و هیچ پیش فرض اولیه ای وجود ندارد.</td></tr>
                                    <tr><td>هزینه </td><td>توافقی</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fives alignright">
                            <table class="table table-striped">
                                <tbody>
                                    <tr class="no-bg no-border"><td class="no-border"></td></tr>
                                    <tr><td class="no-bg">شرح کاری:</td></tr>
                                    <tr>
                                        <td class="no-border">
                                            کلیه موارد اعلامی در np5<br>
                                            تشکیل تیم فنی تخصصی<br>
                                            تولید سیستم مدیریت محتوای اختصاصی<br>
                                            تولید نرم افزارهای خاص<br>
                                            اتصال با سایر نرم افزارهای موجود کارفرما
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                        </div>
                        <div class="aligncenter">
                            <br>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np5.htm" role="button">توضیحات بیشتر</a>
                            <a class="btn btn-default" target="_blank" href="http://www.npco.net/print-np5.html" role="button">پرینت تعرفه</a>
                        </div>
                    </div>
                    <br>
                    <div class="jumbotron w50 f-tahoma">
                        <div class="row">
                            <div class="fives"><p class="np" style="padding-top: 7px;">تعرفه ها در یک نگاه</p></div>
                            <div class="fives">
                                <a class="btn btn-default" target="_blank" href="http://www.npco.net/more-np7.htm" role="button">توضیحات بیشتر</a>
                                <a class="btn btn-default" target="_blank" href="http://www.npco.net/print-np7.html" role="button">پرینت تعرفه</a>
                            </div>
                        </div>
                    </div>
                </section>







                <div class="clearfix"></div>
            </div>




            <div id="divdetailDesign" class="middle_grid">

                <div class="span_of_4">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/why-iwebdesignseo.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h4>سفارشات طراحی سایت می تواند شامل موارد زیر شوند</h4>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت فروشگاهی با امکان پرداخت اينترنتي</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت ارزان قیمت + آموزش مدیریت سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی و ترجمه سایت به چند زبان بدون محدودیت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">خدمات مدیریت سایت شما بصورت قرارداد دورکاری</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش سرعت صفحات سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">تامین امنیت سایت در برابر ویروس، اسپم و هک</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش رتبه سایت شما در الکسا</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس سئو اورگانیک وب سایت شما</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/responsive.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی وب سایت ریسپانسیو</a></h1>
                        <p class="seo-text"><b>طراحی سایت ریسپانسیو</b> یا واکنش گرا (Responsive) که روشی نوین در طراحی وب سایت می باشد، همان وب سایت طراحی شده را متناسب با سایز نمایشگر دستگاه کاربر نمایش می دهد. بدین ترتیب در طراحی سایت واکنش گرا (Responsive)، نحوه ی نمایش سایت در سایزهای مختلف متفاوت است در نتیجه تفاوتی نخواهد داشت که کاربران با یک موبایل کوچک یا یک تبلت وارد وب سایت شوند و یا با نمایشگری بزرگ به بررسی بپردازند.</p>


                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/سئو-سایت">تیم سئو سبز</a></h1>
                        <p class="seo-text">تیم نرم افزاری <b>سئو سبز</b> با 5 سال سابقه فعالیت نرم افزاری ، کار خود را بصورت رسمی از سال 94 با اتکاء به نیروی متخصص فنی و مدیریتی آغاز کرد .فعالیت ما تولید نرم افزارهای موبایل ، طراحی وبسایت و انجام تبلیغات می باشد  و  مفتخر به ارائه خدمات پر کیفیت ، امن و پیش تازانه بر اساس نظرات مشتریان هستیم .  محصولات جدید بصورت Responsive طراحی شده اند كه قابلیت تغییر ساختار صفحه بر اساس انواع موبایل های هوشمند و تبلتها را دارا هستند.کوشیده ایم تا با اعمال روشهای مدیریتی صحیح و نوآورانه در تولید ، اطلاع رسانی ،فروش و پشتیبانی ، کیفیت سرویس خود را ارتقاء داده و ترجیح رضایت مشتریان باشد.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/site-Designer.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/different-site.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی سایت فروشگاهی</a></h1>
                        <p class="seo-text">شرکت <b>سئو سبز</b> با 5 سال سابقه طراحی و ساخت وبسایت های مختلف به انواع مختلف طراحی سایت فروشگاهی و طراحی پرتال سازمانی و طراحی سایت خبرگزاری و طراحی سایت شرکتی و طراحی سایت آژانس هواپیمایی و طراحی سایت املاک و غیره می پردازد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>







            <div class="row">

                <div class="span_of_4">
                    <!-- start span_of_4 -->
                    <div class="col-xs-12 margin-bottom20">
                        <div class="col-md-4 mediamargin-b30">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-windows"></i></span>
                                <h3><a href="/Home/طراحی-سایت"><b>طراحی سایت</b></a></h3>
                                <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی"><h1 class="h1ToA">طراحی سایت تبلیغاتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش"><h1 class="h1ToA">طراحی سایت فروش</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی"><h1 class="h1ToA">طراحی سایت فروشگاهی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان"><h1 class="h1ToA">طراحی سایت تبلیغاتی رایگان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی"><h1 class="h1ToA">طراحی سایت خرید و فروش اینترنتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای"><h1 class="h1ToA">طراحی سایت بازاریابی شبکه ای</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه"><h1 class="h1ToA">طراحی سایت آموزشگاه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی"><h1 class="h1ToA">طراحی سایت بازرگانی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn btn-2 active" href="~/Home/طراحی-سایت">هزینه طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mediamargin-b30">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-line-chart"></i></span>
                                <h3><a href="/Home/طراحی-سایت"><b>طراحی وب سایت</b></a></h3>
                                <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی"><h1 class="h1ToA">طراحی سایت نیازمندی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود"><h1 class="h1ToA">طراحی سایت دانلود</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه"><h1 class="h1ToA">طراحی سایت چند زبانه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ"><h1 class="h1ToA">طراحی سایت هاستینگ</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه"><h1 class="h1ToA">طراحی سایت یک فروشگاه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش"><h1 class="h1ToA">طراحی سایت همکاری در فروش</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم"><h1 class="h1ToA">طراحی سایت چت روم</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی"><h1 class="h1ToA">طراحی سایت شرکتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn  btn-2b" href="~/Home/طراحی-سایت">قیمت طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-mobile"></i></span>
                                <h3><b><a href="/Home/طراحی-سایت">طراحی وبسایت</a></b></h3>
                                <ul class="list-unstyled Allfeatures nav_list text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس"><h1 class="h1ToA">طراحی سایت فروشگاهی با وردپرس</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما"><h1 class="h1ToA">طراحی سایت فروش بلیط هواپیما</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی"><h1 class="h1ToA">طراحی سایت تبلیغات کلیکی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک"><h1 class="h1ToA">طراحی سایت تجارت الکترونیک</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل"><h1 class="h1ToA">طراحی سایت فروش فایل</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان"><h1 class="h1ToA">طراحی سایت فروشگاه اینترنتی ارزان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان"><h1 class="h1ToA">طراحی سایت فروشگاهی رایگان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک"><h1 class="h1ToA">طراحی سایت املاک</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی"><h1 class="h1ToA">طراحی سایت عکاسی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn btn-2b" href="/Home/طراحی-سایت">تعرفه طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!-- end span_of_4 -->

            </div>





        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>
}

@section ScriptJs
    {
    <script>
        $(".detailDesign").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailDesign").offset().top
            }, 2000);
        });



    </script>


}
