
@section Head
{

    <title>طراحی سایت | طراحی سایت ارزان | سئو سبز</title>

    <meta name="description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="keywords" content="طراحی سایت | افزایش رتبه الکسا |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | سئو سبز" />
    <meta name="DC.keywords" content="طراحی سایت |  ساخت سایت |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  شرکت طراحی سایت | طراحی سایت ارزان | سئو سبز	" />
    <meta name="DC.description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta name="DC.Subject" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />

    <meta property="og:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/طراحی-سایت" />
    <meta property="og:description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />

    <meta name="twitter:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت | سئو سبز" />
    <meta name="twitter:description"  content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/طراحی-سایت" />

}


@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent
    {
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container">
            <div class="main about span_of_3">

                <div class="pricing2">
                    <!-- start pricing2 -->


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>پلان چهارم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی اختصاصی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line4">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>سایت اختصاصی با معماری Asp.net</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 1000 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 6 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان سوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی اختصاصی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line3">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>سایت اختصاصی با معماری Asp.net</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 500 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 3 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان دوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line2">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 200 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 2 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان اول</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled color-line1">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 500 مگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پایه بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 100 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 1 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>


            </div>





            <div id="divdetailDesign" class="middle_grid">

                <div class="span_of_4">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/why-GreenOptimizer.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h4>سفارشات طراحی سایت می تواند شامل موارد زیر شوند</h4>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت فروشگاهی با امکان پرداخت اينترنتي</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت ارزان قیمت + آموزش مدیریت سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی و ترجمه سایت به چند زبان بدون محدودیت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">خدمات مدیریت سایت شما بصورت قرارداد دورکاری</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش سرعت صفحات سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">تامین امنیت سایت در برابر ویروس، اسپم و هک</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش رتبه سایت شما در الکسا</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس سئو اورگانیک وب سایت شما</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/responsive.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی وب سایت ریسپانسیو</a></h1>
                        <p class="seo-text"><b>طراحی سایت ریسپانسیو</b> یا واکنش گرا (Responsive) که روشی نوین در طراحی وب سایت می باشد، همان وب سایت طراحی شده را متناسب با سایز نمایشگر دستگاه کاربر نمایش می دهد. بدین ترتیب در طراحی سایت واکنش گرا (Responsive)، نحوه ی نمایش سایت در سایزهای مختلف متفاوت است در نتیجه تفاوتی نخواهد داشت که کاربران با یک موبایل کوچک یا یک تبلت وارد وب سایت شوند و یا با نمایشگری بزرگ به بررسی بپردازند.</p>


                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/سئو-سایت">تیم سئو سبز</a></h1>
                        <p class="seo-text">تیم نرم افزاری <b>سئو سبز</b> با 5 سال سابقه فعالیت نرم افزاری ، کار خود را بصورت رسمی از سال 94 با اتکاء به نیروی متخصص فنی و مدیریتی آغاز کرد .فعالیت ما تولید نرم افزارهای موبایل ، طراحی وبسایت و انجام تبلیغات می باشد  و  مفتخر به ارائه خدمات پر کیفیت ، امن و پیش تازانه بر اساس نظرات مشتریان هستیم .  محصولات جدید بصورت Responsive طراحی شده اند كه قابلیت تغییر ساختار صفحه بر اساس انواع موبایل های هوشمند و تبلتها را دارا هستند.کوشیده ایم تا با اعمال روشهای مدیریتی صحیح و نوآورانه در تولید ، اطلاع رسانی ،فروش و پشتیبانی ، کیفیت سرویس خود را ارتقاء داده و ترجیح رضایت مشتریان باشد.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/site-Designer.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/different-site.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی سایت فروشگاهی</a></h1>
                        <p class="seo-text">شرکت <b>سئو سبز</b> با 5 سال سابقه طراحی و ساخت وبسایت های مختلف به انواع مختلف طراحی سایت فروشگاهی و طراحی پرتال سازمانی و طراحی سایت خبرگزاری و طراحی سایت شرکتی و طراحی سایت آژانس هواپیمایی و طراحی سایت املاک و غیره می پردازد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>






            @*class="font-size-18"*@


            @*<div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-12 ">





                        <h1 class="font-size-18"><a href="http://greenoptimizer.com/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای">طراحی سایت بازاریابی شبکه ای</a></h1>
                        <h2 class="font-size-18">
                            بازاریابی شبکه ای چیست؟
                        </h2>
                        بازاریابی شبکه‌ای (به انگلیسی: Network Marketing) یا بازاریابی چندسطحی (به انگلیسی: Multi-level marketing)، همان<strong> طراحی سایت</strong> بازاریابی شبکه ای نوعی شیوهٔ فروش است که در آن کمپانی‌ها محصولات خود را بدون تبلیغات و بدون واسطه به فروش می‌رسانند و مشتریان پس از خرید در صورت تمایل می‌توانند محصولات کمپانی را بازاریابی کنند و سود بگیرند. درآمد در بازاریابی شبکه‌ای هم در ازای فروش مستقیم کالا و هم در ازای فروش از طریق زیرمجموعه کسب می‌شود. تیم طراحی سایت<strong> <a href="http://greenoptimizer.com/">سئو سبز</a></strong> تمام این موارد را در<strong> طراحی وب سایت</strong> بررسی و اعمال می نماید.
                        <h2 class="font-size-18">طراحی سایت بازاریابی شبکه ای چیست؟</h2>
                        تیم <a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a>سئو سبز ، پروژه طراحی سایت بازاریابی شبکه ای را طراحی و پیاده سازی کرده است . کارفرما می تواند با رعایت قوانین مشخص شده در مورد بازاریابی شبکه ای اقدام به <a href="http://greenoptimizer.com/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای">طراحی سایت بازاریابی شبکه ای </a>نماید.
                        <h2 class="font-size-18">
                            تفاوت بازاریابی شبکه ای با شرکت های هرمی :
                        </h2>
                        به گفتهٔ کمیسیون تجارت فدرال آمریکا (FTC)، شرکت هرمی شرکتی‌ست که به اعضایش حق کمیسیون می‌دهد تا افراد جدید را وارد کنند. شرکت‌های هرمی محصولی را نمی‌فروشند و پول‌های مشتریان را در یکجا جمع می‌کنند و با آن کاری انجام نمی‌دهند. این شرکت‌ها در اکثر کشورهای دنیا از جمله ایران غیرقانونی هستند؛ چون در ازای جذب افراد پول می‌دهند بطور اجتناب‌ناپذیر فرو خواهند پاشید و وقتی هرم فروپاشی کند، بجز عده‌ای که در بالای هرم هستند همه دست خالی می‌مانند یا به عبارتی پول خود را می‌بازند.
                        FTC می‌گوید داشتن محصول، قانونی بودن شرکت را تعیین نمی‌کند. بعضی از شرکت‌های هرمی برای رد گم کردن، خود را شرکت ام‌ال‌ام معرفی کرده و محصولی را در پلان خود قرار می‌دهند ولی چون هدفشان فروش محصول نیست، قیمت آن بسیار بالاتر از بازار آزاد خواهد بود، یا اینکه دریافت محصول در آن شرکت‌ها مشروط به فعالیت در پلان تجاری‌شان است که برای کسانی‌که نمی‌خواهند یا نمی‌توانند مشتری پیدا کنند، پول از دست می‌رود. دو مشخصه بارز کمپانی‌های هرمی:
                        <h2 class="font-size-18">انبار کردن کالا:</h2>
                        کمپانی مشتریان را وادار می‌کند که تعداد هر چه بیشتری کالا (عموماً با قیمت بسیار بالایی) بخرند تا درآمد بیشتری داشته باشند، حتی اگر نتوانند آن کالاها را به مصرف برسانند. در این صورت افراد رأس هرم سود هنگفتی می‌کنند در حالیکه محصول چندانی را به بازار ارائه نکرده‌اند و محصولات در زیرزمین‌ها انبار شده‌اند.
                        <h2 class="font-size-18">عدم خرده فروشی (فروش جزء به مردم):</h2>
                        به دلیل کیفیت پایین محصولات و هزینهٔ بالای آنها، در اغلب شرکت‌های هرمی محصولات فقط بین اعضای داخل هرم توزیع می‌شود، نه بین مردم عادی بیرون از هرم.
                        <h2 class="font-size-18">امکانات سایت بازاریابی شبکه ای :</h2>
                        امکانات سایت <a href="http://greenoptimizer.com/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای">بازاریابی شبکه ای</a> طراحی شده توسط تیم طراحی سایت سئو سبز به شرح زیر می باشد:
                        - خرید توسط هر فرد و تخصیص پورسانت مشخص به فرد معرفی کننده
                        - اعلام وضعیت بازاریابان (فعال،معلق،حذف شده)
                        - گزارش سفارشات زیرمجموعه ها
                        - گزارش پورسانت زیرمجموعه ها
                        - گزارشات خریدهای شخصی
                        - مشاهده ساختار درختی زیرمجموعه ها
                        - مشاهده صورت وضعیت مالی ماهیانه
                        - تعیین میزان سقف خرید ماهیانه

                        &nbsp;
                        <div class="col-xs-12">
                            <div class="col-md-12 ">توجه داشته باشید که امکانات فوق تنها بخشی از امکانات <a href="http://greenoptimizer.com/Home/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت </a>توسط شرکت سئو سبز می باشد و برای دریافت امکانات کامل با همکاران ما در سئو سبز تماس بگیرید و علاوه بر دریافت امکانات، از مشاوره رایگان بهره مند شوید.</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 text-align-right">
                                <h5>09128238263</h5>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 text-align-left">
                                <h5>موبایل:</h5>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-2 text-align-right">
                                <h5>02177166964</h5>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 text-align-left">
                                <h5>شماره تماس:</h5>
                            </div>
                        </div>

                    </div>
                </div>

            </div>*@




















                    </div>
                </div>
                <div class="main_btm2">
                    <!-- start main_btm2 -->
                    <div class="container">
                        <!-- end pricing2 -->

                    </div>
                </div>
    }

    @section ScriptJs
    {
        <script>
            $(".detailDesign").click(function () {
                $('html, body').animate({
                    scrollTop: $("#divdetailDesign").offset().top
                }, 2000);
            });



        </script>


    }
