
@section Head
{

    <title>طراحی سایت | سئو سایت | طراحی سایت ارزان</title>

    <meta name="description"  content="تیم بهینه سازی سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="keywords" content="طراحی سایت | افزایش رتبه الکسا |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان" />
    <meta name="DC.keywords" content="طراحی سایت |  ساخت سایت |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  شرکت طراحی سایت | طراحی سایت ارزان	" />
    <meta name="DC.description"  content="تیم بهینه سازی سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت" />
    <meta name="DC.Subject" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت " />

    <meta property="og:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/طراحی_سایت" />
    <meta property="og:description"  content="تیم بهینه سازی سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />

    <meta name="twitter:title" content="طراحی سایت |  طراحی وب سایت | سئو سایت | قیمت طراحی سایت" />
    <meta name="twitter:description"  content="تیم بهینه سازی سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/طراحی_سایت" />

}




@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent
    {
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container">
            <div class="main about span_of_3">

                <div class="pricing2">
                    <!-- start pricing2 -->


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>پلان چهارم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">شخصی</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه .com رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 10 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی کدها برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه تبلیغ در گوگل رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان سوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">شرکتی</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه .com رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 10 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی کدها برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه تبلیغ در گوگل رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان دوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">فروشگاهی</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه .com رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 10 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی کدها برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه تبلیغ در گوگل رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان اول</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <span class="page_number">اختصاصی</span>
                                </div>
                            </div>
                            <ul class="features list-unstyled">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه .com رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 10 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی کدها برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه تبلیغ در گوگل رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">توضیحات بیشتر</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>


            </div>





            <div id="divdetailDesign" class="middle_grid">
                <div class="span_of_4">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/why-GreenOptimizer.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h4>سفارشات طراحی سایت می تواند شامل موارد زیر شوند</h4>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت فروشگاهی با امکان پرداخت اينترنتي</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت ارزان قیمت + آموزش مدیریت سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی و ترجمه سایت به چند زبان بدون محدودیت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">خدمات مدیریت سایت شما بصورت قرارداد دورکاری</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش سرعت صفحات سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">تامین امنیت سایت در برابر ویروس، اسپم و هک</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش رتبه سایت شما در الکسا</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس سئو اورگانیک وب سایت شما</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/responsive.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h3>طراحی وب سایت ریسپانسیو</h3>
                        <p class="seo-text">طراحی سایت ریسپانسیو یا واکنش گرا (Responsive) که روشی نوین در طراحی وب سایت می باشد، همان وب سایت طراحی شده را متناسب با سایز نمایشگر دستگاه کاربر نمایش می دهد. بدین ترتیب در طراحی سایت واکنش گرا (Responsive)، نحوه ی نمایش سایت در سایزهای مختلف متفاوت است در نتیجه تفاوتی نخواهد داشت که کاربران با یک موبایل کوچک یا یک تبلت وارد وب سایت شوند و یا با نمایشگری بزرگ به بررسی بپردازند.</p>


                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h3>تیم GreenOptimizer</h3>
                        <p class="seo-text">تیم نرم افزاری GreenOptimizer با 5 سال سابقه فعالیت نرم افزاری ، کار خود را بصورت رسمی از سال 94 با اتکاء به نیروی متخصص فنی و مدیریتی آغاز کرد .فعالیت ما تولید نرم افزارهای موبایل ، طراحی وبسایت و انجام تبلیغات می باشد  و  مفتخر به ارائه خدمات پر کیفیت ، امن و پیش تازانه بر اساس نظرات مشتریان هستیم .  محصولات جدید بصورت Responsive طراحی شده اند كه قابلیت تغییر ساختار صفحه بر اساس انواع موبایل های هوشمند و تبلتها را دارا هستند.کوشیده ایم تا با اعمال روشهای مدیریتی صحیح و نوآورانه در تولید ، اطلاع رسانی ،فروش و پشتیبانی ، کیفیت سرویس خود را ارتقاء داده و ترجیح رضایت مشتریان باشد.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/site-Designer.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/different-site.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h3>انواع مختلف سایت</h3>
                        <p class="seo-text">شرکت GreenOptimizer با 5 سال سابقه طراحی و ساخت وبسایت های مختلف به انواع مختلف طراحی سایت فروشگاهی و طراحی پرتال سازمانی و طراحی سایت خبرگزاری و طراحی سایت شرکتی و طراحی سایت آژانس هواپیمایی و طراحی سایت املاک و غیره می پردازد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>








        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>
}

@section ScriptJs
    {
    <script>
        $(".detailDesign").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailDesign").offset().top
            }, 2000);
        });



    </script>


}