
@section Head
{

    <title>طراحی سایت | سئو سبز</title>

    <meta name="description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="keywords" content="طراحی سایت | سئو سبز |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | طراحی سایت سئو سبز" />
    <meta name="DC.keywords" content="طراحی سایت | سئو سبز |  طراحی وب سایت |  طراحی سایت فروشگاهی |  طراحی سایت حرفه ای  |  قیمت طراحی سایت | طراحی سایت ارزان | طراحی سایت سئو سبز" />
    <meta name="DC.description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="DC.Title" content="طراحی سایت | سئو سبز" />
    <meta name="DC.Subject" content="طراحی سایت |  طراحی وب سایت | قیمت طراحی سایت | سئو سبز" />

    <meta property="og:title" content="طراحی سایت | سئو سبز" />
    <meta property="og:url" content="http://iwebdesignseo.com/Home/طراحی-سایت" />
    <meta property="og:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />

    <meta name="twitter:title" content="طراحی سایت | سئو سبز" />
    <meta name="twitter:description" content="تیم سئو سبز فعال در بخش طراحی سایت و سئو سایت، در تلاش است تا با تمام توان نیاز امروزه کاربران و دارندگان مشاغل که میخواهند در زمینه اینترنت دارای کسب و کار شوند رو به گونه ای برطرف سازد که این نوع از کاربران تغییرات چشمگیری در فروش کالا و عرضه کالا از طریق اینترنت را به صورت کاملا واضح لمس نمایند، شرکت طراحی سایت و بهینه سازی سایت سبز به صورت رایگان آماده مشاوره به شما عزیزان میباشد" />
    <meta name="twitter:creator" content="http://iwebdesignseo.com/Home/طراحی-سایت" />

}


@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">

}
@section MainContent
    {
    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="main_btm1">
        <!-- start main_btm1 -->
        <div class="container">
            <div class="main about span_of_3">

                <div class="pricing2">
                    <!-- start pricing2 -->


                    <ul class="pricing_table list-unstyled">
                        <li class="price_block">
                            <h3>پلان چهارم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number"> فروشگاهی + پکیج سئو</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>وردپرس به همراه 5000 بک لینک </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه پست در شبکه های اجتماعی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 6 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان سوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طرح اقتصادی + بک  لینک</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی متریال دیزاین</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>وردپرس مناسب طرح اقتصادی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت سرعت بالا 50 کاربره</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو در تمام صفحات برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 2000 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 3.8 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان دوم</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت فروشگاهی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 1 گیگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 500 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی 3 ماه رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 2.5 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <li class="price_block">
                            <h3>پلان اول</h3>
                            <div class="price">
                                <div class="price_figure">
                                    <b class="page_number">طراحی سایت شرکتی</b>
                                </div>
                            </div>
                            <ul class="features list-unstyled normal-color">
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب و طراحی اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-desktop webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>قالب ریسپانسیو(نمایش در تبلت و موبایل)</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-mobile webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>مدیریت محتوا با وردپرس یا جوملا</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cogs webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پنل مدیریت اختصاصی</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-bar-chart webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هاست و دامنه رایگان </h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-server webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>فضای هاست 500 مگابایت</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-cloud webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پایه بهینه سازی سئو برای گوگل</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-google webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>هدیه 100 عدد بک لینک</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-gift webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <h6>پشتیبانی یک ساله رایگان</h6>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-phone webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping">
                                        <div class="col-xs-10 col-sm-10 no-padding text-align-right">
                                            <b class="color-green">قیمت 1.3 میلیون تومان</b>
                                        </div>
                                        <div class="col-xs-2 col-sm-2 no-padding font-23">
                                            <i class="fa fa-money webGoColor"></i>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </li>
                            </ul>
                            <div class="pricing_btn">
                                <a class="action_button popup-with-zoom-anim detailDesign" href="#small-dialog">با ما تماس بگیرید</a>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="clear"></div>
                </div>


            </div>





            <div id="divdetailDesign" class="middle_grid">

                <div class="span_of_4">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/why-iwebdesignseo.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h4>سفارشات طراحی سایت می تواند شامل موارد زیر شوند</h4>
                        <ul class="font-12 text-align-right list-unstyled padding-socialitems cursor-default">
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت فروشگاهی با امکان پرداخت اينترنتي</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی سایت ارزان قیمت + آموزش مدیریت سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">طراحی و ترجمه سایت به چند زبان بدون محدودیت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">خدمات مدیریت سایت شما بصورت قرارداد دورکاری</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش سرعت صفحات سایت</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">تامین امنیت سایت در برابر ویروس، اسپم و هک</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس افزایش رتبه سایت شما در الکسا</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">سرویس سئو اورگانیک وب سایت شما</span>
                            </li>
                            <li>
                                <span class="helpico fa fa-medkit font-23"></span>
                                <span class="padding-right10">پشتیبانی 24 ساعت شبانه روز</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-right"><h5>09128238263</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-left"><h5>موبایل:</h5></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 text-align-right"><h5>02177166964</h5></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 text-align-left"><h5>شماره تماس:</h5></div>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="middle_grid">
                <div class="col-xs-12">
                    <div class="col-md-6 ">

                        <img class="img-resp" src="~/images/responsive.png" />

                    </div>
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی وب سایت ریسپانسیو</a></h1>
                        <p class="seo-text"><b>طراحی سایت ریسپانسیو</b> یا واکنش گرا (Responsive) که روشی نوین در طراحی وب سایت می باشد، همان وب سایت طراحی شده را متناسب با سایز نمایشگر دستگاه کاربر نمایش می دهد. بدین ترتیب در طراحی سایت واکنش گرا (Responsive)، نحوه ی نمایش سایت در سایزهای مختلف متفاوت است در نتیجه تفاوتی نخواهد داشت که کاربران با یک موبایل کوچک یا یک تبلت وارد وب سایت شوند و یا با نمایشگری بزرگ به بررسی بپردازند.</p>


                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/سئو-سایت">تیم سئو سبز</a></h1>
                        <p class="seo-text">تیم نرم افزاری <b>سئو سبز</b> با 5 سال سابقه فعالیت نرم افزاری ، کار خود را بصورت رسمی از سال 94 با اتکاء به نیروی متخصص فنی و مدیریتی آغاز کرد .فعالیت ما تولید نرم افزارهای موبایل ، طراحی وبسایت و انجام تبلیغات می باشد  و  مفتخر به ارائه خدمات پر کیفیت ، امن و پیش تازانه بر اساس نظرات مشتریان هستیم .  محصولات جدید بصورت Responsive طراحی شده اند كه قابلیت تغییر ساختار صفحه بر اساس انواع موبایل های هوشمند و تبلتها را دارا هستند.کوشیده ایم تا با اعمال روشهای مدیریتی صحیح و نوآورانه در تولید ، اطلاع رسانی ،فروش و پشتیبانی ، کیفیت سرویس خود را ارتقاء داده و ترجیح رضایت مشتریان باشد.</p>
                    </div>

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/site-Designer.png" />
                    </div>
                </div>

                <div class="col-xs-12">

                    <div class="col-md-6 ">
                        <img class="img-resp" src="~/images/different-site.png" />
                    </div>

                    <div class="col-md-6 ">
                        <h1 class="font-size-18"><a href="/Home/طراحی-سایت">طراحی سایت فروشگاهی</a></h1>
                        <p class="seo-text">شرکت <b>سئو سبز</b> با 5 سال سابقه طراحی و ساخت وبسایت های مختلف به انواع مختلف طراحی سایت فروشگاهی و طراحی پرتال سازمانی و طراحی سایت خبرگزاری و طراحی سایت شرکتی و طراحی سایت آژانس هواپیمایی و طراحی سایت املاک و غیره می پردازد.</p>
                    </div>

                </div>

                <div class="clearfix"></div>
            </div>







            <div class="row">

                <div class="span_of_4">
                    <!-- start span_of_4 -->
                    <div class="col-xs-12 margin-bottom20">
                        <div class="col-md-4 mediamargin-b30">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-windows"></i></span>
                                <h3><a href="/Home/طراحی-سایت"><b>طراحی سایت</b></a></h3>
                                <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی"><h1 class="h1ToA">طراحی سایت تبلیغاتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش"><h1 class="h1ToA">طراحی سایت فروش</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی"><h1 class="h1ToA">طراحی سایت فروشگاهی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغاتی-رایگان"><h1 class="h1ToA">طراحی سایت تبلیغاتی رایگان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-خرید-و-فروش-اینترنتی"><h1 class="h1ToA">طراحی سایت خرید و فروش اینترنتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازاریابی-شبکه-ای"><h1 class="h1ToA">طراحی سایت بازاریابی شبکه ای</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-آموزشگاه"><h1 class="h1ToA">طراحی سایت آموزشگاه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-بازرگانی"><h1 class="h1ToA">طراحی سایت بازرگانی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn btn-2 active" href="~/Home/طراحی-سایت">هزینه طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mediamargin-b30">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-line-chart"></i></span>
                                <h3><a href="/Home/طراحی-سایت"><b>طراحی وب سایت</b></a></h3>
                                <ul class="list-unstyled nav_list Allfeatures text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-نیازمندی"><h1 class="h1ToA">طراحی سایت نیازمندی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-دانلود"><h1 class="h1ToA">طراحی سایت دانلود</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چند-زبانه"><h1 class="h1ToA">طراحی سایت چند زبانه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-هاستینگ"><h1 class="h1ToA">طراحی سایت هاستینگ</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-یک-فروشگاه"><h1 class="h1ToA">طراحی سایت یک فروشگاه</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-همکاری-در-فروش"><h1 class="h1ToA">طراحی سایت همکاری در فروش</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-چت-روم"><h1 class="h1ToA">طراحی سایت چت روم</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-شرکتی"><h1 class="h1ToA">طراحی سایت شرکتی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn  btn-2b" href="~/Home/طراحی-سایت">قیمت طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="span4_of_list height-auto">
                                <span class="active"><i class="fa fa-mobile"></i></span>
                                <h3><b><a href="/Home/طراحی-سایت">طراحی وبسایت</a></b></h3>
                                <ul class="list-unstyled Allfeatures nav_list text-align-right">
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-با-وردپرس"><h1 class="h1ToA">طراحی سایت فروشگاهی با وردپرس</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-بلیط-هواپیما"><h1 class="h1ToA">طراحی سایت فروش بلیط هواپیما</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تبلیغات-کلیکی"><h1 class="h1ToA">طراحی سایت تبلیغات کلیکی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-تجارت-الکترونیک"><h1 class="h1ToA">طراحی سایت تجارت الکترونیک</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروش-فایل"><h1 class="h1ToA">طراحی سایت فروش فایل</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاه-اینترنتی-ارزان"><h1 class="h1ToA">طراحی سایت فروشگاه اینترنتی ارزان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-فروشگاهی-رایگان"><h1 class="h1ToA">طراحی سایت فروشگاهی رایگان</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-املاک"><h1 class="h1ToA">طراحی سایت املاک</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="shopping wrapper">
                                            <div class="col-md-12 no-padding">
                                                <span class="fa fa-arrow-circle-left font-23 float-left shopicoHome" onclick="window.location = '/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی';"></span>
                                                <span class="fa fa-caret-left HomeBoxes"></span><a class="HomeSpanTextBoxes" href="/Learning/طراحی-سایت-سئو-سایت-بهینه-سازی-سایت/طراحی-سایت-عکاسی"><h1 class="h1ToA">طراحی سایت عکاسی</h1></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="read_more">
                                    <b><a class="btn btn-2b" href="/Home/طراحی-سایت">تعرفه طراحی سایت</a></b>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!-- end span_of_4 -->

            </div>





        </div>
    </div>
    <div class="main_btm2">
        <!-- start main_btm2 -->
        <div class="container">
            <!-- end pricing2 -->

        </div>
    </div>
}

@section ScriptJs
    {
    <script>
        $(".detailDesign").click(function () {
            $('html, body').animate({
                scrollTop: $("#divdetailDesign").offset().top
            }, 2000);
        });



    </script>


}
