
@section Head
{

    <title>نمونه کارها | بهینه ساز سبز</title>


    <meta name="description" content=" نمونه طراحی سایت | نمونه  طراحی وب سایت | نمونه  طراحی سایت فروشگاه اینترنتی حرفه ای | نمونه  طراحی سایت تجاری | نمونه طراحی سایت شخصی" />
    <meta name="keywords" content=" نمونه طراحی سایت |  نمونه  ساخت سایت |  نمونه  طراحی وب سایت |  نمونه  طراحی سایت فروشگاهی |  نمونه  طراحی سایت حرفه ای  | نمونه   شرکت طراحی سایت | نمونه  طراحی سایت ارزان" />
    <meta name="DC.keywords" content=" نمونه طراحی سایت |  نمونه  ساخت سایت |  نمونه  طراحی وب سایت |  نمونه  طراحی سایت فروشگاهی |  نمونه  طراحی سایت حرفه ای  |  نمونه  شرکت طراحی سایت |   نمونه طراحی سایت ارزان	" />
    <meta name="DC.description" content="  نمونه طراحی سایت |  نمونه طراحی وب سایت | نمونه  طراحی سایت فروشگاه اینترنتی حرفه ای | نمونه  طراحی سایت تجاری | نمونه  طراحی سایت شخصی" />
    <meta name="DC.Title" content=" نمونه طراحی سایت | بهینه ساز سبز نمونه " />
    <meta name="DC.Subject" content="نمونه طراحی سایت |  طراحی وب سایت " />

    <meta property="og:title" content="نمونه طراحی سایت  | نمونه طراحی وبسایت |  بهینه ساز سبز" />
    <meta property="og:url" content="http://greenoptimizer.com/Home/طراحی_سایت" />
    <meta property="og:description" content=" نمونه طراحی سایت | نمونه طراحی وب سایت | نمونه طراحی سایت فروشگاه اینترنتی حرفه ای | نمونه طراحی سایت تجاری | نمونه طراحی سایت شخصی" />

    <meta name="twitter:title" content="نمونه طراحی سایت  | نمونه طراحی وبسایت |  بهینه ساز سبز" />
    <meta name="twitter:description" content=" نمونه طراحی سایت | نمونه طراحی وب سایت | نمونه طراحی سایت فروشگاه اینترنتی حرفه ای | نمونه طراحی سایت تجاری | نمونه طراحی سایت شخصی" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/طراحی_سایت" />

}






@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">


}
@section MainContent
    {

    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>




    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="portfolio_main">

                <div id="portfoliolist">
                    <div class="portfolio logo1" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-greenpack.ir.png"><img src="~/images/images/p-greenpack.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://greenpack.ir">greenpack</a></span>

                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-pishahangan.com.png"><img src="~/images/images/p-pishahangan.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://pishahangan.com">شرکت پیشاهنگان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-parsehdecoration.com.png"><img src="~/images/images/p-parsehdecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://parsehdecoration.com">دکوراسیون داخلی مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-tehrandecoration.com.png"><img src="~/images/images/p-tehrandecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://tehrandecoration.com">دیوارپوش مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-nojavan-inst.com.png"><img src="~/images/images/p-nojavan-inst.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://nojavan-inst.com">دفتر وکالت</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-kgdrubber.ir.png"><img src="~/images/images/p-kgdrubber.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://kgdrubber.ir">شرکت کیمیاگستر</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-payamefootball.com.png"><img src="~/images/images/p-payamefootball.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://payamefootball.com">اخبار ورزشی</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo1" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-segooshgrill.com.png"><img src="~/images/images/p-segooshgrill.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://segooshgrill.com">رستوران سه گوش گریل</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>






    <div class="main_btm2">


        <div class="container">



        </div>
    </div>
}

@section ScriptJs
    {


}