
@section Head
{

    <title>نمونه کارها | طراحی سایت | سئو سبز</title>


    <meta name="description" content="سئو سایت یا بهینه سازی سایت مبحثی هست که امروزه بسیاری از کاربران که دارای تارنامه یا وبسایت هستند بسیار با آن درگیرند زیرا که به دلیل عدم حرفه ای بودن ساختار وبسایت در موتورهای جستجو از جمله سرچ گوگل دیده نمیشوند یا رتبه پایینی دارند ما بر آن هستیم که با بهبود و بهینه سازی این ساختار وب سایت شما را به رتبه هایاول گوگل در کلمات کلیدی موردنظرتان برسانیم" />
    <meta name="keywords" content=" نمونه طراحی سایت |  نمونه  ساخت سایت |  نمونه  طراحی وب سایت |  نمونه  طراحی سایت فروشگاهی |  نمونه  طراحی سایت حرفه ای  | نمونه   شرکت طراحی سایت | نمونه  طراحی سایت ارزان | سئو سبز" />
    <meta name="DC.keywords" content=" نمونه طراحی سایت |  نمونه  ساخت سایت |  نمونه  طراحی وب سایت |  نمونه  طراحی سایت فروشگاهی |  نمونه  طراحی سایت حرفه ای  |  نمونه  شرکت طراحی سایت |   نمونه طراحی سایت ارزان | سئو سبز	" />
    <meta name="DC.description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="DC.Title" content=" نمونه طراحی سایت | بهینه ساز نمونه | سئو سبز " />
    <meta name="DC.Subject" content="نمونه طراحی سایت |  طراحی وب سایت | سئو سبز " />

    <meta property="og:title" content=" نمونه طراحی سایت  | نمونه طراحی وبسایت | سئو سبز " />
    <meta property="og:url" content="http://greenoptimizer.com/Home/نمونه-طراحی-سایت-و-سئو" />
    <meta property="og:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />

    <meta name="twitter:title" content="نمونه طراحی سایت  | نمونه طراحی وبسایت |  سئو سبز" />
    <meta name="twitter:description" content="سئو سایت امری است که باید به صورت خیلی ویژه ای به آن توجه داشت، توجه به این نکته باعث میشود که شما در موتورهای جستجوگر بیشتر و بهتر دیده شوید و درنهایت به هدف موردنظرتان برسید" />
    <meta name="twitter:creator" content="http://greenoptimizer.com/Home/نمونه-طراحی-سایت-و-سئو" />



}






@section StyleScript
    {
    <link rel="stylesheet" href="~/fonts/css/font-awesome.min.css">


}
@section StyleSamplePage{
    <!-- start light_box -->
    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />

    <script src="~/js/fliplightbox.min.js"></script>
    <script type="text/javascript">
        $('body').flipLightBox()
    </script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.mixitup.min.js"></script>

    <script src="~/js/jquery.fancybox-1.2.1.js"></script>
    <script src="~/js/CustomJavaScripts.js"></script>
}
@section MainContent
    {

    <div class="main_bg_white">
        <!-- start main -->
        <div class="container">
            <div class="main_grid1">
                <h4 class="style pull-left">طراحی وب سایت</h4>
                <ol class="breadcrumb pull-right">
                    <li><a href="~/Home/Index">خانه</a></li>
                    <li class="active">پکیج طراحی سایت</li>
                </ol>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>




    <div class="main_btm1">
        <!-- start main_btm -->
        <div class="container">
            <div class="portfolio_main">

                <div id="portfoliolist">
                    <div class="portfolio logo1" data-cat="logo">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-greenpack.ir.png"><img src="~/images/images/p-greenpack.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://greenpack.ir">greenpack</a></span>

                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-pishahangan.com.png"><img src="~/images/images/p-pishahangan.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://pishahangan.com">شرکت پیشاهنگان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio web" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-parsehdecoration.com.png"><img src="~/images/images/p-parsehdecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://parsehdecoration.com">دکوراسیون داخلی مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-tehrandecoration.com.png"><img src="~/images/images/p-tehrandecoration.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://tehrandecoration.com">دیوارپوش مهرازان</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-nojavan-inst.com.png"><img src="~/images/images/p-nojavan-inst.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://nojavan-inst.com">دفتر وکالت</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio app" data-cat="app">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-kgdrubber.ir.png"><img src="~/images/images/p-kgdrubber.ir.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://kgdrubber.ir">شرکت کیمیاگستر</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio card" data-cat="card">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-payamefootball.com.png"><img src="~/images/images/p-payamefootball.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://payamefootball.com">اخبار ورزشی</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                    <div class="portfolio logo1" data-cat="web">
                        <div class="portfolio-wrapper">
                            <div class="fancyDemo">
                                <a rel="group" title="" href="~/images/images/p-segooshgrill.com.png"><img src="~/images/images/p-segooshgrill.com.png" alt="" class="img-responsive" /></a>
                            </div>
                            <div class="label">
                                <div class="label-text">
                                    <span class="text-category"><a color="colorblack" href="http://segooshgrill.com">رستوران سه گوش گریل</a></span>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>






    <div class="main_btm2">


        <div class="container">



        </div>
    </div>
}

@section ScriptJs
    {


}