<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="greenopt_GONewsEntities" connectionString="metadata=res://*/Models.NewsDB.csdl|res://*/Models.NewsDB.ssdl|res://*/Models.NewsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.169.76.76;initial catalog=greenopt_GONews;user id=greenopt_greenopt;password=123a@a.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  <!--<add name="greenopt_dbgoEntities" connectionString="metadata=res://*/Models.doGoWeb.csdl|res://*/Models.doGoWeb.ssdl|res://*/Models.doGoWeb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=109.169.76.76;initial catalog=greenopt_dbgo;user id=greenopt_greenopt;password=123a@a.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="greenopt_GONewsEntities" connectionString="metadata=res://*/Models.NewsDB.csdl|res://*/Models.NewsDB.ssdl|res://*/Models.NewsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=greenopt_GONews;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="On"  defaultRedirect="~/Error404/Index">
      <error statusCode="404" redirect="~/Error404/NotFound" />
      <error statusCode="403" redirect="~/Error404/BadRequest" />
      <error statusCode="500" redirect="~/Error404/ConstructoringInServer" />

    </customErrors>
    <!-- <customErrors defaultRedirect="/Erorr.html" mode="On"></customErrors>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
        <add name="Access-Control-Max-Age" value="1000" />
        <add name="Access-Control-Allow-Headers" value="x-requested-with, Content-Type, origin, authorization, accept, client-security-token" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <!--<remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      -->
      <!-- full url when responsemode is Redirect -->
      <!--<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />-->
      <!-- local relative path when responsemode is ExecuteURL -->
      <!--
      <error statusCode="403" path="/Erorr.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/Erorr.html" responseMode="Redirect" />
      <error statusCode="500" path="/Erorr.html" responseMode="ExecuteURL" />-->
    </httpErrors>
  </system.webServer>
  <appSettings>
    <add key="owin:Automati«cAppStartup" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <location path="Sitemaps">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: B4C6F03A-EFD6-4956-A027-08269E1B1C66-->